[2018-03-07 11:38] joshua1 opened #1 "progress"
Hi @sanketsahusoft  is anything happening here. I see the support for route and v-model added to this which is really great. would all the other bit remain as is ? would be nice to use with nativebase

[2018-03-11 12:38] sanketsahusoft commented on #1
We are making some progress. We don't have a definite timeline though.

We will keep you posted @joshua1

[2018-04-11 09:15] joshua1 commented on #1
am going to whip up something and start using this as it progresses

[2018-05-07 11:38] joshua1 opened #2 "Vuex store or plugins generally"
Hi ,
I am currently playing around with this set of projects (using the CLI tool) . i wish to know how to use vuex store with this given that there is no new Vue instance that takes a store property or any other custom plugin for that matter that needs to be injected into the global vue object instance as a prototype or property. I tried creating a store plugin like in boot/setup.vue
[code]
but i

[2018-06-12 17:33] atilacamurca opened #3 "v-on for events"
In the example code from <https://vue-native.io/docs/handle-user-input.html> we have:

[code]

The `button` use `v-bind:onPress` to handle click, but in Vue we are used to use `v-on:onPress` or `@onPress` instead. Is that any plans to introduce the `v-on` directive?

[2018-06-13 02:26] WestDoorBlowAsh opened #6 "what's the difference between weex and vue-native?"

[2018-06-13 02:38] jefflam opened #7 "[Comparison] What's the pros/cons and differences between vue-native and vue-nativescript?"
First off, super excited to see work on this being done! Vue is an awesome framework but was direly missing the mobile love.

Am currently building a mobile app and would love to know the differences between vue-native and vue-nativescript. Thanks!

[2018-06-13 02:44] HughesWang commented on #6
http://vue-native.io/docs/index.html#What-is-Vue-Native

[2018-06-13 02:48] ThoughtZer opened #8 "vue-native init error"
I'm trying to init a project, but met a problem
![image](https://user-images.githubusercontent.com/23690568/41327757-3dad4994-6ef7-11e8-865d-006e8a127b52.png)
What do I need to do?

[2018-06-13 03:40] Lxxyx commented on #6
## Vue Native
Vue Native is a mobile framework to build truly native mobile app using Vue.js. Its is designed to connect React Native and Vue.js.

Vue Native is a wrapper around React Native APIs, which allows you to use Vue.js and compose rich mobile User Interface.

## Weex
Weex is a framework for building high-performance mobile applications with modern web development experience.

Weex can use

[2018-06-13 03:42] Lxxyx commented on #7
Vue Native is based on React Native. But NativeScript is a different platform.
In my option, React Native is an better platform for developing native applications.

[2018-06-13 04:10] RumbleFrog commented on #1
Saw this on the front page of HN, good work 👍

[2018-06-13 04:59] Shubham-Sinha opened #9 "How to port React Native packages like react-native-maps to Vue-Native"
React Native has numerous 3rd party packages and some of them like React Native Maps are used across many application. Since Vue-Native if a form of react-vue, is there any way to compile React Native packages to Vue Native.

[2018-06-13 05:14] smithb1994 opened #10 "Does Vue Native allow access to React Native plugins?"
Does this library allow us to use React Native plugins like [react-native-camera](https://github.com/react-native-community/react-native-camera) in Vue Native?

Do we have access to accelerometer and other React Native plugins?

Is there any examples on how to do this?

[2018-06-13 06:46] ThoughtZer commented on #8
@chshouyu Do you know what the problem is?
There is a problem description, but there is no solution.
https://foundation.zurb.com/forum/posts/36676-foundation-new-error-enoent-no-such-file-or-directory-uv_chdir

[2018-06-13 06:50] chovy commented on #8
https://github.com/isaacs/node-graceful-fs/issues/115

[2018-06-13 06:55] dainv123 opened #11 "How to debug ???"
plz help me, How to debug ???

[2018-06-13 07:07] chovy commented on #11
I'm wondering this too.

[2018-06-13 07:09] chovy commented on #3
v-bind seems wrong to me.

[2018-06-13 07:35] ThoughtZer commented on #8
@chovy Sorry, I didn't get what you meant. How do I change it? Can you give me a demo? Thanks

[2018-06-13 07:55] necmi commented on #8
+1

[2018-06-13 09:31] xcsweb opened #13 "How to pack Android app"
How to pack Android app

[2018-06-13 09:39] F9Uf commented on #8
@chovy when i edit code follow you

`const code = `process.chdir("${process.cwd().replace(/\\/g, "\\\\")}");``

There are some problems again. That is ...

  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);

[2018-06-13 10:06] jefflam commented on #7
Thanks for responding @Lxxyx. When you say based on react native -- and I've also seen the slides -- does this mean that this this is compiled to react-native code which is then compiled to the mobile apps?

[2018-06-13 10:37] ThoughtZer commented on #8
@neeraj-singh47 It doesn't seem to have worked.

[2018-06-13 10:41] neeraj-singh47 commented on #8
@ThoughtZer What's the error? Can you specify the react-native-cli version using the command `react-native -v`?

[2018-06-13 10:52] Lxxyx commented on #7
@jefflam Yes, First transform to React Native code. Then use react native sdk for running at device.

[2018-06-13 11:01] ThoughtZer commented on #8
@neeraj-singh47 Like this ....
My net speed is too slow
![image](https://user-images.githubusercontent.com/23690568/41347392-16fae69a-6f3c-11e8-92c2-cf1295d7543e.png)

[2018-06-13 11:14] neeraj-singh47 commented on #11
@dainv123 We are currently working on this issue. The docs will be updated soon. Until then you can report the issues and we'll help you with the debugging

[2018-06-13 11:31] atilacamurca commented on #10
according to <https://vue-native.io/docs/react-native.html>

I didn't find any examples...

[2018-06-13 12:39] neeraj-singh47 commented on #3
v-on is also supported. It's in initial phase though. The syntax for v-on is `v-on:press="handleBtnClickCount()"`.

[2018-06-13 12:39] #3 closed

[2018-06-13 12:45] neeraj-singh47 commented on #10
@smithb1994 Yes we do support most of the react-native plugins. Just follow the same procedures provided in react-native-camera and import the package within your component and and declare them as components based on your use case. We will update the docs with an example.

[2018-06-13 12:45] #10 closed

[2018-06-13 12:47] tweetoxygen commented on #8
I also have the same error and I am currently running the latest version of React Native.

[2018-06-13 12:52] neeraj-singh47 commented on #9
Refer to issue #10

[2018-06-13 12:52] #9 closed

[2018-06-13 12:56] neeraj-singh47 commented on #13
If you have created the app through cli without --no-crna option then you will have to refer to https://docs.expo.io/versions/latest/distribution/building-standalone-apps
else you can refer to https://facebook.github.io/react-native/docs/signed-apk-android.html to generate a build

[2018-06-13 12:56] #13 closed

[2018-06-13 14:07] #8 closed

[2018-06-13 14:08] neeraj-singh47 commented on #2
@atilacamurca has already provided the solution which is a recommended to use plugins

[2018-06-13 14:08] #2 closed

[2018-06-13 14:08] neeraj-singh47 commented on #1
@joshua1 The initial version has been launched. Go ahead and give it a try.

[2018-06-13 14:08] #1 closed

[2018-06-13 14:10] NZX-DeSiGN commented on #10
Hi,

I'm also discovering the library and asked myself the same question.
I've managed to use **react-native-render-html** plugin, so I guess other plugins will work the same way.
I'm importing it globally, but locally also work.

In your script section of your **App.vue** file (before **export default**) add this :
[code]

[2018-06-13 14:14] neeraj-singh47 commented on #8
It was an issue related to spawnSync where shell had to be specified for windows.

[2018-06-13 14:20] #6 closed

[2018-06-13 14:23] #7 closed

[2018-06-13 14:26] cfjedimaster opened #14 "Opening in Expo issue"
I'm not sure if this is a vue-native-core issue or Expo or... something else. I used the `s` option to send a text to my phone with the running app. When it opened up Expo, it immediately crashed. I see this in terminal:

![image](https://user-images.githubusercontent.com/393660/41357477-e05d7f1c-6eeb-11e8-93ec-8d28c2e3a6a1.png)

[2018-06-13 14:26] NZX-DeSiGN opened #15 "Add differences with react-vue to docs"
Hi,

I know everybody is asking you how it's working and what are differences with all others Vue solutions, but in your Medium article you only mention you've forked **react-vue**.
Can you tell us reasons and functionnalities you've added please ?

Thank you (and excuse my english)
Nicolas

[2018-06-13 14:59] tweetoxygen commented on #8
@neeraj-singh47 are you saying we can run it again now or?

[2018-06-13 15:07] tweetoxygen commented on #8
@cfjedimaster when you say install again, are you referring to installing the vue-native-cli?

[2018-06-13 15:14] ormedo opened #16 "Cannot start a clean project"
I cant start a simple proyect:

HelloWorld@0.1.0 start /Users/manuelfrancogiraldez/Documents/proyectos/JavaScript/Vue-Native/HelloWorld

17:05:48: Unable to start server
See https://git.io/v5vcn for more information, either install watchman or run the following snippet:
  sudo sysctl -w kern.maxfiles=5242880
  sudo sysctl -w kern.maxfilesperproc=524288

npm ERR! code ELIFECYCLE
npm ERR! errno 1
np

[2018-06-13 15:19] ormedo commented on #16
I Close the issue,
Just execute the "sudo sysctl -w kern.maxfiles=5242880
sudo sysctl -w kern.maxfilesperproc=524288" and go ok.

[2018-06-13 15:19] #16 closed

[2018-06-13 16:32] tweetoxygen commented on #8
cfjedimaster thanks... After installing, tried to run npm start but I get an error saying missing script start. Tried with npm run but that also didnt seem to work.

[2018-06-13 22:07] DanielRuf opened #17 "Enable Travis CI / CircleCI"

[2018-06-13 22:12] niutech commented on #7
For React Native vs NativeScript comparison, I recommend reading these articles:
https://teabreak.e-spres-oh.com/nativescript-vs-react-native-7c7f230b3e
https://www.quora.com/What-are-the-key-difference-between-ReactNative-and-NativeScript

[2018-06-13 23:35] mariomka opened #18 "Input text and switch issue"
There is a problem when input text has been binded to a model, the text is repeating. And switches back to original position automatically.

![input-switch-issue](https://user-images.githubusercontent.com/1822472/41383563-abbf4962-6f71-11e8-89be-68b196ef880b.gif)

Device: BQ Aquaris M5.5 - Android 6.0.1

Start new project (rn or crna) and replace App.vue with the following code:

[code]

[2018-06-13 23:39] mariomka commented on #18
Same switch issue in iphone simulator but input text is working fine.

[2018-06-14 01:47] syumai commented on #14
@cfjedimaster
I've found that on Windows, vue-native-cli does not install required dependencies correctly.
You can solve this by running `yarn add vue-native-core vue-native-helpers` in your project.
I created PR to resolve this issue: https://github.com/GeekyAnts/vue-native-cli/issues/4

[2018-06-14 02:19] ThoughtZer commented on #8
@gauravprwl14 Thank you for fixing this problem.
@tweetoxygen maybe you should install again the vue-native-cli

[2018-06-14 04:21] JhonatanPereira commented on #14
I was having the same problem, and actually is `vue-native-helper` instead of `vue-native-helpers`. Thank you @syumai

[2018-06-14 04:26] syumai commented on #14
@JhonatanPereira It was a mistake. Thank you for the correction! 😂

[2018-06-14 07:14] ormedo commented on #18
ON asus zendphone 3 android 8 same issue.

[2018-06-14 07:50] ormedo opened #20 "Status-bar doesn't paint anything"
HI!

Im testing basic react components and status bar does not work as expect.

Just install a new instalation and change <template> with this:

<template>
  <view class="container">
    <status-bar
        background-color="blue"
        bar-style="light-content"
      />
    <view>
      <text>Hellow Word With status-bar</text>
    </view>
  </view>
</template>

[2018-06-14 08:35] Jules2010 opened #21 "Typescript"
Can vue-native be used with typescript?

I can't find any documentation saying it can.

Are there any plans or a workaround ?

Thanks in advance.

[2018-06-14 09:48] #14 closed

[2018-06-14 10:58] tweetoxygen commented on #8
@ThoughtZer I have done the installation all over again. The installation was successful. However, I am still having the issue with npm start. I keep getting missing script with that. For npm run, no error but nothing seems to be working. Is there something I need to do aside all the basic installations?

[2018-06-14 14:22] #18 closed

[2018-06-14 14:48] mariomka commented on #18
@gauravprwl14 thank you! The input text is working fine on the latest version 0.0.6 but switch issue hasn't been resolved.

[2018-06-14 15:03] neeraj-singh47 commented on #18
@mariomka V-model will not work in switch. You'll have to map the props according to React Native docs

[2018-06-14 15:23] mariomka commented on #18
Code from docs isn't working (https://vue-native.io/docs/basic-components.html#Switch).

Following the react-native docs don't help:

[code]

Tested on android device and iOS simulator.

[2018-06-14 20:22] thegeminisociety opened #23 "Create a global stylesheet?"
Is there a good method for creating a global stylesheet that all Vue components could have access to?

[2018-06-14 21:08] neeraj-singh47 commented on #18
@mariomka Seems like the issue is because of the onChange format. Can you try `handleChange(val) {
       this.test = val
 }`

[2018-06-14 22:42] mariomka commented on #18
@neeraj-singh47 thank you, you are right, Vue can't define `this` with arrow functions... The syntax is so similar...

[2018-06-15 01:50] johnsonjo4531 opened #24 "error with font-weight property"
I can't get font-weight styling to work using css. First of all I tried typing a number for the font-weight as this is what css does. I can't type a valid number for font-weight (for example 100, 200, 300, ... , 800) like so:

[code]

I think this is because React Native takes strings for its font-weights. I believe this by the error it gave and by the official docs for [font-weight](https://faceb

[2018-06-15 06:59] ormedo opened #25 "$emit() doesn't work"
clean install and replace with this two components.
App.vue ->
[code]

[2018-06-15 09:08] hoozi opened #26 "This is a great project"

[2018-06-15 14:54] Aries0d0f commented on #26
This is not a good issue.

[2018-06-15 19:02] smithb1994 commented on #25
By the looks of your code, it looks like you forgot to close the `<view>` tag in children.vue
Let me know if that fixes it.

[2018-06-16 17:51] victorsolaya opened #27 "Expo doesn´t open the project"
Expo is not opening the project when I scan the qr code with iPhone.

[2018-06-17 11:01] fergardi opened #28 "Using custom components"
Hi everyone! Great project, I'm enjoying it a lot so far.

I was trying to combine this with the https://aframe.io/ framework, but when I add a simple scene under the <view></view> tag, an error occurs.

Is this a closed framework? How can I import custom unsupported components from 3rd party libraries?

Thanks in advance.

[2018-06-17 11:08] fergardi commented on #2
Im still uncertain about this procedure. Usually when I need to add a new library I npm-install --save it, and then import it in my main.js. Where is the access point in the vue-native app?

[2018-06-17 13:43] smithb1994 commented on #28
From my understanding, aframe looks like it renders in html.
React Native and Vue Native don't render HTML, they render native components using HTML like tags.
If you want to run HTML in Vue Native you need to use another library like [react-native-htmlview](https://github.com/jsdf/react-native-htmlview) or [react-native-render-html](https://github.com/archriss/react-native-render-html).
I haven't

[2018-06-17 14:02] smithb1994 commented on #23
See the [Vue docs](https://vuejs.org/v2/guide/), don't raise the issue here. Normally you put it in App.vue.

[2018-06-17 14:09] fergardi commented on #28
I see. I was excited to use my VueJS knowledge to create a mobile app with AR features. Now i'm a bit disappointed.

Thank you for your response.

[2018-06-17 14:09] #28 closed

[2018-06-17 18:43] sanketsahusoft commented on #21
We equally love TypeScript but our focus at the moment is to stablize the default JavaScript version first. It's not on our roadmap at the moment. A workaround for this one would be to inject the TS compiler as an intermediate step of the Vue Native compiler.

[2018-06-17 18:46] sanketsahusoft commented on #23
That is something which I wouldn't recommend because global style creates more harm than good. A better way of doing it would be composing components instead of global style. Like having a Design system of Components consuming a theme variable file.

[2018-06-17 18:57] sanketsahusoft commented on #26
Thanks for the appreciation :-) Keeps us going @hoozi!

[2018-06-17 18:57] #26 closed

[2018-06-17 18:58] sanketsahusoft commented on #25
It's true that <slot> and $emit doesn't work at the moment. We are working towards it.

[2018-06-17 19:10] sanketsahusoft commented on #20
Can you provide some code to reproduce the bug?

[2018-06-17 19:13] sanketsahusoft commented on #17
That's high on our list. We will keep thread up-to-date.

[2018-06-17 19:20] Jules2010 commented on #21
Thanks, can you tell me more about how to inject etc?

[2018-06-17 23:39] thegeminisociety commented on #23
You are correct, closing the issue

[2018-06-17 23:39] #23 closed

[2018-06-18 02:46] robertoandres24 opened #29 "esllint error when add basic component (text input with inline style) and compiling"
if I try to include this basic component that appears in your Docu
https://vue-native.io/docs/basic-components.html
[code]
I get the following eslint error when compiling

`[vue/valid-v-bind]
'v-bind' directives require an attribute value.`
![image](https://user-images.githubusercontent.com/11506518/41515981-378c2120-7280-11e8-8460-18bf47e2ab22.png)

and I do not have that global package included

[2018-06-18 05:29] windyflying commented on #20
@ormedo I guess you made a spelling mistake on the word `anithing`.
It seems to be anything

[2018-06-18 05:43] windyflying commented on #29
@robertoandres24 Perhaps, the `border-color` and the `border-width` should be in quotes

[2018-06-18 07:09] neeraj-singh47 commented on #29
@robertoandres24 You need to use camelCase if you using inline styles.

[2018-06-18 07:09] #29 closed

[2018-06-18 07:09] ormedo commented on #25
Closing the view tag doesn`t fix the problem. It was my failure with Copy&Paste code.

I update the code and attach and image of iOS Simulator.

<img width="370" alt="captura de pantalla 2018-06-18 a las 9 08 31" src="https://user-images.githubusercontent.com/23084038/41522652-342b0170-72d7-11e8-8697-7950f8bb5d61.png">

[2018-06-18 07:12] ormedo commented on #20
Just make a clean install and try de docs code

[code]

The result its a empty white page.
Attach image of iOS simulator

<img width="368" alt="captura de pantalla 2018-06-18 a las 9 12 03" src="https://user-images.githubusercontent.com/23084038/41522740-af68bc1a-72d7-11e8-8022-ff89f1f3a44b.png">

[2018-06-18 07:49] neeraj-singh47 commented on #20
@ormedo Currently you cannot set background color for ios through StatusBar. But there is a different way to implement that. You can see a example here https://stackoverflow.com/questions/39297291/how-to-set-ios-status-bar-background-color-in-react-native

[2018-06-18 07:49] #20 closed

[2018-06-18 07:49] neeraj-singh47 commented on #27
@victorsolaya Expo does not support scanning the qr code through iPhone. You need to Press s to email/text the app URL to your phone.

[2018-06-18 07:49] #27 closed

[2018-06-18 08:21] ormedo commented on #20
OK, on iOS have sense.
But on Android I got the same result, here the screenshot of Expo with the same code on asus Zendfone 3 with Android 8.0.

![screenshot_20180618-101951](https://user-images.githubusercontent.com/23084038/41525446-501898a2-72e1-11e8-91c0-03233b2b55f0.jpg)

[2018-06-18 10:13] neeraj-singh47 commented on #15
@NZX-DeSiGN React Vue only provides the compiler and it does not support v-model, classes and styles combined. Also you can use the vue-native-cli tool to create a vue-native app without writing any extra scripts.

[2018-06-18 10:13] #15 closed

[2018-06-18 13:41] robertoandres24 commented on #29
ok thanks. this  also fires an error, and maybe should  change it, the way the data function is written
[code]

[2018-06-18 13:43] atilacamurca commented on #2
According to <https://vue-native.io/docs/installation.html> at the **Step 4 Create A Vue File** section,
the main entry point is a SFC (`.vue` file) at the root of your project. You do not need to manually mount the root component.

[2018-06-18 15:04] #24 closed

[2018-06-18 15:24] gauravprwl14 commented on #24
@johnsonjo4531 we have resolved the issue, now you can write like
[code]

[2018-06-18 16:57] thegeminisociety opened #30 "Errors with Custom Font Loading with Expo"
Trying a very similar method I have used with CRNA but within a Vue component...

Testing through Expo on an actual iphone.

[code]

I get the following error

[code]

Am I missing something? Thanks!

[2018-06-18 18:13] Jules2010 commented on #21
I had a chat with a friend at work, can I ask what pipeline you use?
We use webpack, we wen't sure how this could be integrated.

[2018-06-18 19:02] thegeminisociety commented on #30
I figured out the issue. You cannot have quotes around the font-family string...

Is this intended or a bug?

[2018-06-19 05:45] neeraj-singh47 commented on #30
@thegeminisociety It is intended. You don't have to use quotes around string within the style tag. It is handled by the parser.

[2018-06-19 05:45] #30 closed

[2018-06-19 06:53] SupriyaKalghatgi opened #31 "Testing GitHub + Trello Integration"

[2018-06-19 06:59] SupriyaKalghatgi commented on #31
Successfully integrated

[2018-06-19 06:59] #31 closed

[2018-06-19 08:20] 654129588 opened #32 "How to call camera film？"
No related API was found

[2018-06-19 14:28] crh225 commented on #11
console.log(); lol

credits: mjb

[2018-06-19 21:03] gauravprwl14 commented on #32
This is the basic example of cameraRoll with Expo. You can use it and modify it as per your requirement

[code]

[2018-06-19 21:03] #32 closed

[2018-06-19 22:16] antony opened #33 "Missing dependency"
Fresh install, fresh project, appears to be missing the `vue-native-scripts` dependency.

Installing the dependency works and everything seems to be fine now...

[2018-06-20 00:50] 654129588 commented on #32
thanks~

[2018-06-20 06:08] gauravprwl14 commented on #33
@antony  did u use vue-native-cli ?
Also can you specify the steps which you followed to create the project, along with the environment.

[2018-06-20 06:58] SupriyaKalghatgi opened #34 "Testing Zapier"

[2018-06-20 07:01] #34 closed

[2018-06-20 07:27] SupriyaKalghatgi opened #35 "Testing Github + Trello Integration"

[2018-06-20 07:32] SupriyaKalghatgi commented on #35
Successfully Integrated

[2018-06-20 07:32] #35 closed

[2018-06-20 08:12] ormedo opened #36 "Status-bar doesn't paint anything on Android"
Just make a clean install and try de docs code

<view>
        <status-bar
            background-color="blue"
            bar-style="light-content"
        />
</view>
The result its a empty white page.
Attach image Asus Zendphone 3 android 8.0
![asus white](https://user-images.githubusercontent.com/23084038/41645847-7ae17044-7472-11e8-95a9-a5c755d7e6b9.jpg)

[2018-06-20 09:44] antony commented on #33
Will do asap

[2018-06-20 19:26] thegeminisociety opened #37 "Display a returned React Component?"
Hello,

I am trying to get SVG working within Vue Native.

[code]
`ReactNativeSvgParser` returns a React Native Component. Is there a way to display this within my view? I may be missing something super simple...

Tested this within a CRNA project and the SVG displayed.

Here is the console log of `this.svgNode`

[code]

Thanks

[2018-06-20 19:52] thegeminisociety commented on #37
Found a solution... is this the recommended way?

[code]

[2018-06-20 19:52] #37 closed

[2018-06-20 20:28] neeraj-singh47 commented on #36
@ormedo Seems to be working fine on one plus 5. Here's the snippet.
<status-bar background-color="blue" bar-style="light-content"></status-bar>. Have you tried it on any other device?

[2018-06-20 21:42] ormedo commented on #36
no, I don´t Have more  devices :S

[2018-06-21 03:25] kkmike999 opened #38 "How android project use vue-native"
Readme just said how to run vue-native on my own computer, bug i don't know how to use it in my Android project.

Is there an android project sample?

[2018-06-21 09:33] neeraj-singh47 commented on #38
@kkmike999 You just need to execute the command `npm start` scan the qr code from your android mobile. You should be able to see the screen in your mobile.

[2018-06-21 09:33] neeraj-singh47 commented on #36
@ormedo You can try it using a simulator

[2018-06-21 23:11] syumai commented on #21
@Jules2010
I created plugin to inject custom language compilers.
I confirmed that this is working with Pug / TypeScript / Stylus in basic usage.
(However, since I am not familiar with TypeScript, something might be missing...)
https://github.com/syumai/vue-native-custom-transformer-plugin

Here's example app using this plugin.
https://github.com/syumai/vue-native-example-app

[2018-06-22 03:37] mansya opened #39 "New logo/icon"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, you have no logo on this project. Therefore I want to contribute to this project by creating a new logo / icon. what do you think?

[2018-06-22 06:08] gauravprwl14 commented on #39
@mansya Thank you so much for showing the interest and helping us, but we already have a logo.

[2018-06-22 06:08] #39 closed

[2018-06-23 11:26] Branksy opened #40 "Pug Templates"
Is it possible to use Pug currently with vue-native, like with regular Vue2.0?

I've installed pug and pug-loader, but no luck getting it to work.

[2018-06-24 05:47] shern91 opened #41 "Components not working"
I init a vue-native project, try do play around, i keep getting "**Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports**." error.

I created a button components, button

[2018-06-24 06:40] gauravprwl14 commented on #40
@Branksy From my understanding you cannot use `pug` as its uses HTML Dom to render. But `Vue-Native` does not render HTML Dom, it uses its own native component to render.

[2018-06-24 06:40] #40 closed

[2018-06-24 11:56] shern91 commented on #41
@gauravprwl14 thanks, just update my code.

[2018-06-24 12:00] gauravprwl14 commented on #41
@shern91 In Vue-Native, we don't support html Elements. Can Read [React-Native](https://facebook.github.io/react-native/docs/components-and-apis.html) Docs to learn more.
In Your App.vue file you have used
[code]
Replace Above code with
[code]

[2018-06-24 12:00] #41 closed

[2018-06-24 13:28] Branksy commented on #40
I’ve made it work this way:
https://github.com/GeekyAnts/vue-native-core/issues/21

[2018-06-24 16:59] neeraj-singh47 commented on #38
@kkmike999 For sample app, you can refer to https://github.com/ankitsinghania94/vue-native-todo-app

[2018-06-24 16:59] #38 closed

[2018-06-24 18:17] #33 closed

[2018-06-25 02:34] fenglincanyi opened #42 "Where is the difference between vue-native and weex?"

[2018-06-25 06:37] gauravprwl14 commented on #42
You can go through [#6](https://github.com/GeekyAnts/vue-native-core/issues/6)

[2018-06-25 06:37] #42 closed

[2018-06-25 19:59] thegeminisociety opened #43 "v-bind with object not working"
Does v-bind with an object work as of now?

I cannot seem to get this working in Vue Native

Parent
[code]

Child
[code]

[2018-06-26 10:16] neeraj-singh47 commented on #43
@thegeminisociety You are not binding it to any variable. You can try binding to a variable `v-bind:test="anObject"` and then in child component declare test as a prop and use `{{test.d}}`

[2018-06-26 10:16] #43 closed

[2018-06-26 16:05] thegeminisociety commented on #43
I am trying to achieve this. It works in regular Vue, but not Vue Native.

[https://vuejs.org/v2/guide/components-props.html#Passing-the-Properties-of-an-Object](url)

[2018-06-27 03:12] anson-GH commented on #18
Thanks. It work for me

[code]

[2018-06-27 06:39] neeraj-singh47 commented on #43
@thegeminisociety the nested props is not supported yet.

[2018-06-28 11:20] maple3142 opened #44 "style before v-model lead to unable to input"
This one works as expected.
[code]
But this one clear text every when I input.
[code]

[code]

[2018-06-28 15:16] gauravprwl14 commented on #44
@maple3142 we have resolved the issue. You can update the `vue-native-scripts` package to latest version(0.0.10).

[2018-06-28 15:16] #44 closed

[2018-06-30 00:15] TheRealSmolt opened #45 "Object prototype may only be an Object or null."
I installed all of the react-native and vue-native stuff today, so it's up-to-date. My issue is that after installing everything the react-native way(with vue-native) I get this error: Object prototype may only be an Object or null. Here's a screenshot. I'm using an android emulator. The console says "BUILD SUCCESSFUL."
![untitled](https://user-images.githubusercontent.com/22825356/42119391-1a83e2

[2018-06-30 05:29] neeraj-singh47 commented on #45
@TheRealSmolt Can you share the source code?

[2018-06-30 13:46] TheRealSmolt commented on #45
I was moving my code from a vue native project(vue-native init) and this is what I changed from the project, I added a App.vue and put in this code:
**<template>
  <view class="container">
    <text v-if="clickCount < 30" class="text-color-primary text-large">Times Clicked:</text>
    <text v-if="clickCount >= 30 && clickCount < 70" class="text-color-primary text-large">You're really spending time

[2018-06-30 16:30] aaronksaunders commented on #2
@fergardi @atilacamurca i found it easier to just do this in `App.vue`
[code]
otherwise you cannot use any of the vuex helpers `mapGetters` or `mapActions`

[2018-06-30 19:21] TheRealSmolt commented on #45
For whatever reason, after recreating the project, it worked without any errors. For anyone with the same issue, I just followed step by step whats on the installation page.

[2018-06-30 19:21] #45 closed

[2018-07-02 07:28] lajunta opened #46 "How to load local web file into webview"
I see a react native version in stackoverflow:

[code]

but how to write it in vue-native ?

[2018-07-02 08:05] gauravprwl14 commented on #46
@lajunta this is the sample example for web-view.
[code]

[2018-07-02 08:05] #46 closed

[2018-07-02 08:15] lajunta commented on #46
Thanks very much

[2018-07-03 11:45] fergardi commented on #2
Thank you.

[2018-07-03 16:58] KevinBatdorf opened #47 "Live reload not working (Windows 10 w/Ubuntu)"
When using the Linux subsystem on Windows 10 making changes to the files has no effect. Even if I restart the `start` script or press `R` nothing changes from the original app. No matter what I try I can only see "My Vue Native App"

Maybe it has something to do with symlinks? Not sure. Thanks!

[2018-07-05 23:50] RafaelAugustoS opened #48 "Cannot find module 'metro/src/transformer'"
when trying to run the app it returns me the error `Cannot find module 'metro/src/transformer'` in terminal

[2018-07-06 08:17] sumesh1993 commented on #48
getting the same error, after initiating an app without crna.
when i input npm start for the first time, i am getting this error

[2018-07-06 09:10] RafaelAugustoS commented on #48
@neeraj-singh47 exactly as the friend said, as soon as he created the app without crna and I'll start, he gives this error

[2018-07-06 09:29] gauravprwl14 commented on #48
@RafaelAugustoS In Latest version of `react-native(0.56.0)` they have change the metro bundler dependency. can you try downgrading the `react-native(0.55.2)` package and reinstall the node_modules.

[2018-07-06 09:39] neeraj-singh47 commented on #48
@RafaelAugustoS We'll update the dependency based on the latest react-native soon.

[2018-07-06 09:53] RafaelAugustoS commented on #48
@gauravprwl14 works, but now it generates the following error

` bundling failed: Error: Plugin 0 specified in "/Users/rafaelaugusto/Documents/Aplicativos/VueNative/teste/node_modules/babel-preset-react-native/index.js" provided an invalid property of "default" (While processing preset: "/Users/rafaelaugusto/Documents/Aplicativos/VueNative/teste/node_modules/babel-preset-react-native/index.js")

[2018-07-06 09:57] gauravprwl14 commented on #48
@RafaelAugustoS It is because of the latest `babel-preset-react-native(5.0.0)` package, you have to downgrade `babel-preset-react-native` to `4.0.0` and try reinstalling the node_modules.

[2018-07-06 10:12] RafaelAugustoS commented on #48
@gauravprwl14 It worked, Thanks

[2018-07-11 07:11] NikoPeltoniemi opened #49 "Cannot get the reference to the camera component."
Here's my code:
`<camera class="container" :type="type" :ref="ref => {camera = ref}"/>`
But this.camera returns null. Could you write an example of the camera that actually takes a picture?

[2018-07-11 10:13] gauravprwl14 commented on #49
@NikoPeltoniemi  you can declare a reference like

[code]
and you can access camera reference like

[code]

[2018-07-11 10:13] #49 closed

[2018-07-13 13:38] neeraj-singh47 commented on #36
Closing issue due to inactivity.

[2018-07-13 13:38] #36 closed

[2018-07-13 14:31] ShailenNaidoo commented on #48
I tried all the methods that everyone is suggesting but nothing... still error

[2018-07-14 20:22] hrsabbir opened #50 "Component inside attribute"
`<Button
  icon={
    <Icon
      name='arrow-right'
      size={15}
      color='white'
    />
  }
  title='BUTTON WITH ICON COMPONENT'
/>`

How can I do this in vue-native?

[2018-07-14 21:54] orels1 opened #51 "Gesture support"
Hey there!
First of all, thanks for this project. I'm currently developing an app for a website using it and it was nice experience so far (not prod, just a sideproject).

I have a question about gestures and event binding in general. But first things first.
I have a view that looks like this

[code]

[code]

And nothing seems to trigger when doing any kind of gestures on that view.

Also, another

[2018-07-15 00:52] Aysnine opened #52 "text-input content shake"
## package.json

[code]

## Display

![1531614561510_video 1](https://user-images.githubusercontent.com/10137653/42729461-eee6451c-880b-11e8-91a0-6ac02d224448.gif)

## Code

https://vue-native.io/docs/handle-user-input.html

[2018-07-16 11:53] Samaritan1011001 commented on #52
This is because of the older version of `vue-native-core` that you are using.
Run:
``` npm install vue-native-core@0.0.7 --save```

[2018-07-16 11:53] #52 closed

[2018-07-16 19:50] neeraj-singh47 commented on #50
@hrsabbir Assuming you are using react-native-elements >= v1.0.0-beta5. You can follow the below steps to implement the icon.
1) `<button :icon="icon" title='BUTTON WITH ICON COMPONENT' />`.
2) Within the scripts `import React from 'react'` and declare icon as data.
`data: {
              icon: <Icon
                           name='arrow-right'
                           size={15}

[2018-07-16 19:50] #50 closed

[2018-07-17 08:59] ViRuS-CoBaS opened #53 "x64 support"
Whether in vue-native support of 64-bit libraries for android?

[2018-07-17 09:36] neeraj-singh47 commented on #53
@ViRuS-CoBaS Currently It's not supported. https://github.com/facebook/react-native/issues/2814

[2018-07-17 09:41] Samaritan1011001 commented on #51
[code]
[code]
The above code should work just fine.

[2018-07-17 09:41] #51 closed

[2018-07-17 10:30] Samaritan1011001 commented on #51
And to try and clear the confusion, v-bind/v-on can be used in it's full form or it can be used in it's short hand form which are `:` and `@` for `v-on`. These are just syntatic sugars that help you write  cleaner code. Referenced from here : https://vuejs.org/v2/guide/syntax.html#v-bind-Shorthand
If used in the above code, it looks like this :
[code]
Infact, `v-on` is not supported in `react-nati

[2018-07-17 10:38] neeraj-singh47 commented on #47
@KevinBatdorf Are you using a VM or WSL?

[2018-07-17 10:42] KevinBatdorf commented on #47
@neeraj-singh47 WSL

[2018-07-17 11:10] neeraj-singh47 commented on #47
@KevinBatdorf Can you try removing .git/index.lock

[2018-07-17 13:13] orels1 commented on #51
This is what I was confused with - the translation layer between vue-native and react-native.
Thanks for clearing that for me!

[2018-07-19 07:02] #53 closed

[2018-07-19 23:04] alexstomp commented on #48
I couldn't get the environment to work at all for a whole day because of this error. Kept removing node_modules/yarn.lock, and trying to re-build with different versions to no avail.

This ended up being the solution for me: https://stackoverflow.com/questions/39778607/error-running-react-native-app-from-terminal-ios

Xcode was not mapping to the command line tools. If you're having this issue.. b

[2018-07-23 07:47] Haizone opened #54 "right to left support?"
right to left support?

[2018-07-23 09:31] gauravprwl14 commented on #54
can you elaborate more?

[2018-07-24 18:30] ibrahimBeladi opened #55 "Releases"
Provide releases (preferably with [Semantic Versioning](https://semver.org/)) to make it easier for the developers to use and track changes in the library.

[2018-07-25 09:42] dacsang97 opened #56 "How to pass class as style props in component"
I use <style> and `class` to define style for element. In component, I see in the RN Debugger, `class` had been compiled to style props as the number of style.

![img](https://i.imgur.com/79oZjJs.png)

But I can't use this number in `<template>` tag to override internal style.

Here is my pseudo code:
*Parent*
[code]

*Test View component*
[code]

Test View only has `{ width: 30, height: 30}` in s

[2018-07-25 09:55] neeraj-singh47 commented on #56
@dacsang97 So you want to reuse the class within your test-view component?

[2018-07-25 13:12] dacsang97 commented on #56
@neeraj-singh47 yes, I want to reuse some class.

[2018-07-26 11:45] #54 closed

[2018-07-26 11:52] gauravprwl14 commented on #56
@dacsang97 I think it is working.
My Parent Component
[code]

And My Child Component
[code]

And Here is A Screen Shot
![image 12](https://user-images.githubusercontent.com/20392678/43260887-65da27d4-90f8-11e8-9366-a590fe9076e4.png).

[2018-07-26 11:52] #56 closed

[2018-07-26 11:53] gauravprwl14 commented on #55
@ibrahimBeladi Sure We will keep this in mind for the future releases

[2018-07-26 11:53] #55 closed

[2018-07-27 09:07] slxar opened #57 "Basic Components Status-bar not showing"
I started a new project using the hello world sample and added status-bar but no status bar showing in both android and ios.

Is there anything needed to make status-bar working or it is a bug? Thank you!

[code]

[2018-07-27 09:33] slxar commented on #57
@neeraj-singh47 Tried but no luck. The issue is there is no status bar showing up, not status bar color issue. Thank you!

[2018-07-27 16:32] slxar commented on #57
@Samaritan1011001 Changing the bar-style to dark-content still no status bar. Thank you!

[2018-07-27 22:35] pdlima opened #58 "Cannot load external css or scss file"
I'm trying to load external css like this and it says 'Unable to resolve'

`import './style.css'`

What is the current recommended way to import css or scss files?

[2018-07-28 15:01] Tzikas opened #59 "Cannot find module 'vue-native-scripts'"
I'm just following the getting started instructions:

npm install -g vue-native-cli
vue-native init project // Initializes crna project
cd project
npm install
npm start

and I get the following:

[code]

[2018-07-29 12:15] KevinBatdorf commented on #47
Hi @neeraj-singh47 Sorry for the late reply. It works on my Macbook so I've been playing around with it there while traveling. Back at home now. I used `vue-native init test-app` so it wont have a .git directory, right?

I'll fine developing on my Mac but I can help debug here if you have any other suggestions you'd like me to try out.

[2018-07-30 09:52] Samaritan1011001 commented on #57
Changing the `bar-style` to `dark-content` does work.
![img_0683](https://user-images.githubusercontent.com/10944487/43390498-fc3b7f46-940b-11e8-96f9-8d32c4d1657f.PNG)

The code that produced the above is:
[code]

I am not able to reproduce it. Can you give me more details? The device you are running this on and the vue-native version.

According to the `React-Native` docs, `background-color` is a

[2018-07-30 09:57] Samaritan1011001 commented on #59
It seems to not have `vue-native-scripts` installed. I tried this and was not able to reproduce the issue.
You can give the following a try :
• After you have created the project, run `npm install vue-native-scripts --save-dev` and then `npm start`.
• Clear the cache with `npm start -- --reset-cache`

[2018-08-01 11:10] neeraj-singh47 commented on #58
@pdlima Right now you cannot import a css file. To load external styles you can do something like this.
1) Create a new js file and you can have something like this for an example
`export default styles = {
  container: {
    backgroundColor: 'black',
    alignItems: 'center',
    justifyContent: 'space-around',
    flex: 1,
    flexDirection: 'column'
  }
}`
2) You can then import the style into

[2018-08-01 11:10] #58 closed

[2018-08-01 11:14] neeraj-singh47 commented on #48
Vue Native CLI now installs v0.55.4 by default and v0.56 is not supported by vue-native as of now. We hope to add support for the latest react-native version as soon as possible

[2018-08-01 11:14] #48 closed

[2018-08-01 12:31] neeraj-singh47 commented on #25
Right now $emit works only if you have $on in the same component within scripts which listens to the event fired by $emit

[2018-08-01 15:15] codeitlikemiley commented on #25
have you tried  adding $on , on the parent component or component which you are listening on the event?
$on should be used on lifehook cycle of mounted...
thats how it work on vue js...
Same principle applies with this one...

[2018-08-02 15:00] Tzikas commented on #59
It worked once I updated my yarn which was out of date.  Thank you.

[2018-08-02 15:00] #59 closed

[2018-08-03 19:09] LiveDuo opened #60 "Passing non string properties to attributes"
Hi, I'm having trouble passing integers and booleans to template html tags as shown below.

Don't work
`<Ionicons name="md-checkmark-circle" size="32" color="green" />`
`<Ionicons name="md-checkmark-circle" size="{32}" color="green" />`
`<scroll-view showsVerticalScrollIndicator="false"> ... </scroll-view>`
`<scroll-view showsVerticalScrollIndicator="{false}"> ... </scroll-view>`

Work
`<Ionicons

[2018-08-05 20:54] leopiccionia commented on #60
Have you tried using  `v-bind:size="32"` and `v-bind:showsVerticalScrollIndicator="false"`, or shorthands `:size="32"` and `:showsVerticalScrollIndicator="false"` (please notice `:` prefix)?

[2018-08-06 10:27] Samaritan1011001 commented on #60
@LiveDuo If you want to pass a value to any prop, use the `:` prefix just like how @leopiccionia  has mentioned.

[2018-08-06 10:27] #60 closed

[2018-08-07 19:55] LiveDuo commented on #60
Thanks @leopiccionia and @Samaritan1011001 .

I'm trying to figure out which is the right syntax to use. There is another issue. I'm confused whether I should use brackets before the attribute variable or not. In some cases they seem needed and in other cases they are not!

work
:snapToAlignment={"center"} //eslint throws a bunch of errors
:showsVerticalScrollIndicator="true"

dont work
:snapToAli

[2018-08-07 19:56] LiveDuo commented on #59
It happens when you force stop the vue-native init command early.

[2018-08-07 21:45] leopiccionia commented on #60
@LiveDuo You don't need to use `:` with string constants (`"center"`, `"dark-content"`) as this is the default HTML behavior.

Both `snapToAlignment="center"` or `:snapToAlignment="'center'"` (single quote inside double quote, or vice-versa) behave the same.

It seems from your examples that `:attr={"value"}` behaves somehow like `:attr='"value"'`. I don't know if this is expected HTML behavior, o

[2018-08-09 01:36] lenvonsam opened #61 "npm run eject react native can not build ios app successfully"
I choosed vue-native init <projectName> this mode to create my project, after npm run eject choosing react native only mode, the ios project can not pod install, because the `ExpoKit` from `http://github.com/expo/expo.git`, tag `ios/2.5.10` always RPC failed; curl 56 LibreSSL SSL_read: SSL_ERROR_SYSCALL, errno 54
how to solve this problem
![image](https://user-images.githubusercontent.com/10168476

[2018-08-09 11:27] neeraj-singh47 commented on #61
@lenvonsam Seems like a networking issue. Can you try again and provide the update about the issue?

[2018-08-10 10:59] neeraj-singh47 commented on #47
Closing the issue due to inactivity

[2018-08-10 10:59] #47 closed

[2018-08-10 11:09] Samaritan1011001 commented on #57
Closing this due to inactivity.

[2018-08-10 11:09] #57 closed

[2018-08-11 15:32] LiveDuo opened #62 "Header and tabbar component icons"
I can't figure out how to get icons working in TabNavigation and in StackNavigation header. I tried different things from react-native-navigation docs but nothing seems to work. Ionicons work elsewhere in the project. Nevertheless the <text> component doesn't work either.

[code]

[code]

[2018-08-11 15:33] LiveDuo opened #63 "Navigation props inconsistencies"
Navigation props inconsistencies

I was trying to understand vue-native/react-native navigation and come up with a strange at first glance behavior. It seems that the required prop for navigation is different when navigation used in <template> and when is used in <script>. The <template> requires navigation to be imported as Object while  <script> requires navigation to be imported as { type: Obje

[2018-08-11 20:45] LiveDuo commented on #60
That cleared up some many things. Thanks

[2018-08-13 09:15] LiveDuo commented on #63
I expected that as well. I have that this.navigation.navigate('TabNavigation') in <script > works only with navigation: { type: Object } and :on-press="() => navigation.navigate('TabNavigation')" works only with and navigation: Object.

Do they work as expected for you?

[2018-08-13 09:19] LiveDuo commented on #25
A quick workaround to invoke functions from childs to parents until $emit is fixed. This allows dumb and smart components to function as expected in Vue Native.

[code]

[code]

[2018-08-15 14:34] adhenrique opened #64 "React dependency"
I wonder, why does vue-native depend on React.js?
Is there any particularity or is React part of the core?

[2018-08-16 07:29] neeraj-singh47 commented on #64
Yes, React is part of the core, since the vuejs template compiles to react native component.

[2018-08-16 07:29] #64 closed

[2018-08-16 07:30] #61 closed

[2018-08-16 07:36] neeraj-singh47 commented on #25
Please upvote the issue if you guys want it to be fixed. As of now, It doesn't seem to be important since there is a workaround for the $emit.

[2018-08-16 07:36] #25 closed

[2018-08-17 13:58] Samaritan1011001 commented on #63
@LiveDuo, I tried this and both seems to work as expected. @leopiccionia is right about it.

[2018-08-21 14:59] #63 closed

[2018-08-21 15:11] neeraj-singh47 commented on #11
For the basic debugging, If you've created project without --no-crna option, then you could refer to `https://docs.expo.io/versions/latest/workflow/debugging` and if project is created using --no-crna options you could refer to https://facebook.github.io/react-native/docs/0.55/debugging

[2018-08-22 02:26] lenvonsam opened #65 "how to use react-native-baidu-map"
how to integrate with react-native-baidu-map?
when import lib, cli occurs error

[2018-08-22 20:17] neeraj-singh47 commented on #65
@lenvonsam Can you post the error screenshot?

[2018-08-28 00:49] lenvonsam opened #66 "$emit() doesn't work"
i should parent component emit to child , how to make it ?

[2018-08-31 14:31] cargie commented on #62
@neeraj-singh47 can you please provide sample how will I do it?

[2018-09-01 22:04] LiveDuo commented on #62
For everyone still looking for it.

[code]

[2018-09-02 02:39] cargie commented on #62
Thanks. My mistake, I didn't import the Ionicons properly

[2018-09-04 07:17] lenvonsam opened #67 "render prop fn not work"
when i use flat-list component, and use <view render-prop-fn="renderItem"/>, then i occurs error of typeError: renderItem is not a function
how to slove it ?
screencrop
![image](https://user-images.githubusercontent.com/10168476/45015893-a44cb780-b055-11e8-9b65-54385394319e.png)
![image](https://user-images.githubusercontent.com/10168476/45015899-ab73c580-b055-11e8-894b-b6fd91471222.png)

[2018-09-04 07:31] lenvonsam commented on #65
i have solved this problem.

[2018-09-04 07:31] #65 closed

[2018-09-04 07:44] neeraj-singh47 commented on #67
@lenvonsam Have to updated vue-native-scripts, vue-native-compiler and vue-native-helper to latest versions?

[2018-09-04 14:38] lenvonsam commented on #67
"vue-native-scripts": "0.0.12"
"vue-native-helper": "0.0.9"
not use vue-native-compiler

[2018-09-05 01:46] #67 closed

[2018-09-05 03:04] lenvonsam opened #68 "why flatlist not support slot tag"
when i put <slot> tag into flatlist, it always occurs renderItem is not function
![image](https://user-images.githubusercontent.com/10168476/45068709-5f7b5c00-b0fb-11e8-857a-5e140ec78b7a.png)
![image](https://user-images.githubusercontent.com/10168476/45068711-6609d380-b0fb-11e8-90c2-6d5181a7e940.png)

[2018-09-05 04:08] chinavane opened #69 "do not support v-once、v-text、v-html"
Tested does not support directives such as v-once/v-text/v-html

[2018-09-05 05:37] neeraj-singh47 commented on #69
@chinavane Those directives are not supported. v-text/v-html are related to html which is not supported.

[2018-09-05 05:37] #69 closed

[2018-09-05 06:11] neeraj-singh47 commented on #68
@lenvonsam Slot is something which is not according to the use case of the flat list. It's how you want to render your item in the list.

[2018-09-05 06:51] chinavane opened #70 "About property binding, the binding type is a function type problem"
The parent component passes data to the child component, passing data types such as strings, numbers, etc., but cannot pass function types. If you want to pass a function to a subcomponent and call the method to call back the function of the parent component through the subcomponent, you need to perform event listener and emit operation through eventemitter3. In the end, I want to confirm, is it p

[2018-09-05 09:42] neeraj-singh47 commented on #70
@chinavane Yes it is possible. You can take a look into this. https://github.com/GeekyAnts/vue-native-core/issues/25#issuecomment-412457861

[2018-09-05 09:42] #70 closed

[2018-09-05 13:46] reo4 opened #71 "How to put component in renderNavigationView ?"
when i use DrawerLayoutComponent it's required to put prop renderNavigationView as a function

[code]
https://facebook.github.io/react-native/docs/drawerlayoutandroid

[2018-09-05 13:50] neeraj-singh47 commented on #71
@reo4 You can make use of render-prop-fn. Usage is listed here https://vue-native.io/docs/render-prop.html

[2018-09-05 13:55] lenvonsam commented on #68
i want flat list use slot to make a common component for my project, how to make it work?
@neeraj-singh47

[2018-09-05 14:00] reo4 commented on #71
@neeraj-singh47 thanks very much

[2018-09-05 14:20] #71 closed

[2018-09-05 20:35] neeraj-singh47 commented on #68
@lenvonsam You'll have to create a common component including the flat list as well. It doesn't make sense to create a common component just for renderItem when the data is same.

[2018-09-06 01:58] lenvonsam commented on #68
I want to make component list react-native-pull, which can use everywhere just defining fewer custom params,
not like everywhere using flatlist must define many same params that's too redundancy
@neeraj-singh47

[2018-09-06 08:01] reo4 opened #72 "can't fire event from child to parent ?"
[code]

parent

[code]

[2018-09-06 09:33] neeraj-singh47 commented on #72
@reo4 $emit from child to parent does not work currently. There's a workaround for that. https://github.com/GeekyAnts/vue-native-core/issues/25#issuecomment-412457861

[2018-09-06 22:40] chinavane opened #73 "Does it support the definition and use of custom directive?"
After a certain attempt, it is confirmed that global component definition, local component definition, global filter definition, and local custom filtering can be performed, but it is not successful when testing the custom directive. Does it support the definition and use of custom directive?

[2018-09-07 02:03] chinavane commented on #48
vueTransformerPlugin.js

`var semver = require('semver');
var vueNaiveScripts = require("vue-native-scripts");
var reactNativeVersionString = require("react-native/package.json").version;
var reactNativeMinorVersion = semver(reactNativeVersionString).minor;

if (reactNativeMinorVersion >= 56) {
  upstreamTransformer = require("metro/src/reactNativeTransformer");
} else if (reactNativeMinorVersion

[2018-09-07 03:03] chinavane opened #74 "Setup with React Native,class does not work"
[code]
![snip20180907_14](https://user-images.githubusercontent.com/8588836/45196139-676b0580-b28d-11e8-8dd9-9ab500d0c06a.png)
class did not work.please help! thx.

if i edit style,it can work very well!

[2018-09-07 13:34] neeraj-singh47 commented on #73
Directives are not supported only components are supported

[2018-09-07 13:34] #73 closed

[2018-09-07 13:37] neeraj-singh47 commented on #74
@chinavane Seems like you are using react-native > 55. Can you update vue-native-cli and create a new project.

[2018-09-07 19:46] chinavane commented on #73
[code]
filter can also be defined and used

[2018-09-08 05:15] chinavane commented on #74
I use this way to create project,it's ok.
vue-native init <projectName> --no-crna

[2018-09-08 19:40] neeraj-singh47 commented on #68
@lenvonsam This cannot be achieved through vue right now since renderItem is a required functionality and the render-prop-fn is mapped to the prop and if we use slot. It's not directly accessible as a prop to the flat list. Did you try out the react-native-pull? It should work since the implementation is on react.

[2018-09-09 01:28] chinavane opened #75 "vuex persist's question"
How can I persist data when using vuex? Vuex-persist was used before, but it is not working properly now.

[2018-09-09 01:29] chinavane commented on #74
yes,it's working now!thx.

[2018-09-09 01:29] #74 closed

[2018-09-09 05:38] neeraj-singh47 commented on #75
@chinavane Here's an example of vuex persistance. https://github.com/GeekyAnts/vue-native-starter-app/tree/feat/dataPersistence

[2018-09-09 12:32] chinavane commented on #75
ok,i'll check it.thank you very much.

[2018-09-10 08:07] lenvonsam opened #77 "how to use new Vue to render customer plugin"
I want to define customer plugin with Vuejs
like this
![image](https://user-images.githubusercontent.com/10168476/45284589-85499c00-b513-11e8-9ce3-1d5216b09552.png)
but i can not find node in react native, how to make it?

[2018-09-10 08:16] neeraj-singh47 commented on #77
@lenvonsam You cannot create a functional render. Vue native does not work on html tags

[2018-09-10 09:30] lenvonsam opened #78 "Vue Native Router can not listen back to origin page"
i use StackNavigator, when app lauched, page a when call beforeMount method, when page a navigate to page b , and from page b goback to page a , the page a 's beforeMount not invoke, how to make this work.

[2018-09-10 12:43] #77 closed

[2018-09-10 12:47] neeraj-singh47 commented on #78
@lenvonsam Can you try beforeUpdate method?

[2018-09-10 14:45] lenvonsam commented on #78
It always just invoke once time when i use beforeUpdate method.
@neeraj-singh47

[2018-09-10 15:11] neeraj-singh47 commented on #78
@lenvonsam So it's invoked every time you navigate from one page to another?

[2018-09-10 16:36] lenvonsam commented on #78
i find the way , but not the beforeUpdate

[2018-09-10 16:36] #78 closed

[2018-09-11 08:06] neeraj-singh47 commented on #75
@chinavane You can close the issue if it's working

[2018-09-11 21:56] mmorainville opened #79 "403 Forbidden on https://vue-native.io/"
Hi,

It seems that https://vue-native.io/ is not accessible anymore. Is that normal?

[2018-09-12 06:11] neeraj-singh47 commented on #79
@mmorainville Seems to working

[2018-09-12 07:08] #79 closed

[2018-09-12 09:47] #75 closed

[2018-09-13 02:14] lenvonsam opened #80 "textinput can not input chinese character in real phone"

[2018-09-13 14:43] woxtu opened #82 "`class` with `render-prop-fn` is not working"
Hi,

I tried to use `class` with `render-prop-fn`, and I got the following error. Is this correct behavior?

[code]

[code]

vue-native-core@0.0.8, vue-native-helper@0.0.9, vue-native-scripts@0.0.14

[2018-09-14 00:14] chinavane opened #84 "Setup with React Native, the latest version of the problem"
[code]

![snip20180914_5](https://user-images.githubusercontent.com/8588836/45522606-8a9a3580-b7f6-11e8-99c3-cad48dc4cabd.png)

![snip20180914_2](https://user-images.githubusercontent.com/8588836/45522530-27a89e80-b7f6-11e8-8c0d-7c072c05972d.png)

![snip20180914_1](https://user-images.githubusercontent.com/8588836/45522517-12337480-b7f6-11e8-99ef-99ae44b5aa13.png)

[2018-09-14 00:16] chinavane commented on #84
![snip20180914_3](https://user-images.githubusercontent.com/8588836/45522562-545cb600-b7f6-11e8-8f3d-4c0c3103b13c.png)
![snip20180914_4](https://user-images.githubusercontent.com/8588836/45522568-5d4d8780-b7f6-11e8-9c66-b54ecb0f5c5b.png)

I have to lower the development version to run the vue project normally.

[2018-09-14 12:06] neeraj-singh47 commented on #84
@chinavane Yes currently we are only supporting react-native <= 0.55.4

[2018-09-14 12:17] neeraj-singh47 commented on #80
@lenvonsam Seems like issue is related to React Native 0.55. A quick fix would be
[code]

[2018-09-15 15:06] lenvonsam commented on #80
I have packaged TextInput with react component to make <text-input v-model="name"/> input chinese charaters come true by myself.
Anyway, thx
@neeraj-singh47

[2018-09-15 15:06] #80 closed

[2018-09-17 00:11] reo4 opened #85 "Drawer component doesn't work when i minimize the app and reopen it again"
![41849334_2057679260930370_7166873212276441088_n](https://user-images.githubusercontent.com/20121364/45602456-f232c980-ba1e-11e8-8a76-c07313a40da0.png)

[2018-09-17 08:15] LiveDuo opened #86 "render-prop with TabNavigator"
I'm trying to implement a tab navigation icon that have a notification counter.

![tdwym](https://user-images.githubusercontent.com/370612/45612161-d35a2480-ba6a-11e8-9805-bea69271e5bc.jpg)

Using a vue component instead would simplify the process. Can the new attributeds ie. render-prop and render-prop-fn help?

[code]

[2018-09-17 10:09] neeraj-singh47 commented on #68
@lenvonsam Were you able to implement the feature?

[2018-09-17 10:13] neeraj-singh47 commented on #86
@LiveDuo Sadly no. This is not possible since TabNavigator is a functional component and within definition we have to specify the icon. The render-prop and render-prop-fn would've helped if we could define routes within template

[2018-09-17 10:13] #86 closed

[2018-09-17 10:14] #84 closed

[2018-09-17 12:18] neeraj-singh47 commented on #85
@reo4 Can you can list the code snippet and specify the package which you are using

[2018-09-18 00:15] reo4 commented on #85
Drawer Component

[code]

package.json

[code]

[2018-09-18 07:19] LiveDuo commented on #86
Any workaround for this? Maybe a helper function that converts a Vue component to a React Native one.

[2018-09-18 07:35] neeraj-singh47 commented on #86
@LiveDuo We are actually converting a Vue Component to React Native but this is one specific use case where TabNavigation is a functional component and expects a React component to be returned. We'll have to wrap the TabNavigation so that it accepts a Vue Component

[2018-09-18 16:36] LiveDuo commented on #86
Sure. I ended up writing React Native code. Looking forward for the wrapping!

[2018-09-18 23:38] reo4 commented on #85
i tried with actual content but the same

[code]

[2018-09-19 10:11] tonismi commented on #84
any plans for near future to support react native  0.57 with vue? maybe some suggestion how to configure it using last typecript setup for 0.57?

[2018-09-19 10:16] neeraj-singh47 commented on #84
@tonismi Yes, this is in roadmap. We'll add support for React Native > 55 in future

[2018-09-19 12:10] neeraj-singh47 commented on #85
@reo4 Can you specify the vue-native-template-compiler version

[2018-09-19 12:26] neeraj-singh47 commented on #82
@woxtu Currently only inline styles are supported within render-prop-fn and render-prop.

[2018-09-20 05:39] Madhur2207 commented on #48
Just do "react-native upgrade"

[2018-09-20 10:36] tonismi commented on #84
Have you defined real guides of roadmap? Some doubts to spent or not the time with this tool , because there are no movements for long time, also react-vue projects from SmallComfort and GeekyAnts were abandoned 7-12 months ago, in the state of very early versions 0.0.x

[2018-09-21 05:56] neeraj-singh47 commented on #84
@tonismi We haven't abandoned vue-native project. We've added support render-prop and render-prop-fn so that you don't have to use jsx. We also included support for v-model and v-on. Also if you read expo's blog https://blog.expo.io/expo-sdk-30-0-0-is-now-available-e64d8b1db2a7. They are not supporting 0.56 or 0.57 as well. We need to support both the frameworks. We'll surely add supports for 0.56

[2018-09-23 22:02] ommehaz opened #87 "Setup with Vue Native Cli does not work"
I am following the steps provided here -> https://vue-native.io/docs/installation.html
The commands I am running:
1. npm install -g vue-native-cli
2. vue-native init myproject // Initializes crna project
3. cd myproject
4. npm install
5. npm start:
5a. starts metro bundler with text:

INFO
23:49
Starting Metro Bundler on port 19001.
INFO
23:49
Metro Bundler ready.

6. I scan the Qr code with my ip

[2018-09-24 13:34] anekix commented on #87
experiencing the same issue. why is this happening?

[2018-09-24 18:31] neeraj-singh47 commented on #87
React-native-scripts has been deprecated. You'll have to add this line ```"packagerOpts": {
      "config": "rn-cli.config.js"
    }``` in app.json within expo object.

[2018-09-24 18:34] neeraj-singh47 commented on #87
We'll release a new vue-native-cli version containing the above fix

[2018-09-24 18:34] #68 closed

[2018-09-24 18:41] #82 closed

[2018-09-25 14:35] nniicc opened #88 "Can't call camera takePictureAsync"
Hey, i'm trying take a picture with vue-native

I have tried everything i can think of but every time i try to access the camera object i get undefined.

[code]

[code]

[code]

[2018-09-25 22:10] LiveDuo opened #89 "React Native ref vs Vue Native ref"
I'm trying to use navigation in the App.vue component to redirect push notification clicks to the appropriate screens. Reading through I found out that there seems to be a definitive way to achieve this as seen in the following examples.

That is to use in one way or another the ref attribute on the main navigator component and the call this.navigator.dispatch to navigate to a different activity.

[2018-09-26 06:35] neeraj-singh47 commented on #89
@LiveDuo For refs use this format while declaring `ref="nav"` and access them using this.$refs.nav. Although it'll be undefined within created method since the refs are not ready at the time of creation.

[2018-09-26 07:06] neeraj-singh47 commented on #88
@nniicc Seems like you've used incorrect ref format while declaration. It should be just `ref="camera"`. You need to remove the `:` before ref since it binds the variable with data.

[2018-09-26 08:46] #88 closed

[2018-09-26 12:37] reo4 commented on #85
how to know it's not listed in my package.json file

[2018-09-26 12:39] reo4 commented on #85
this is the package file for vue-native-template-compiler module
[code]

[2018-10-01 07:04] neeraj-singh47 commented on #85
@reo4 Make sure you are using the latest version of the packages.
"vue-native-core": "0.0.8",
"vue-native-helper": "0.0.9",
"vue-native-scripts": "0.0.14",
"vue-native-template-compiler": "0.0.12".

I'm unable to recreate the issue. Can you comment out the watch and remove DrawerView from component as well and try again.

[2018-10-05 23:45] Simbadeveloper commented on #17
looking forward for it  travis ci @sanketsahusoft

[2018-10-08 19:19] zek commented on #87
Actually I followed everything but still I get same error.

[2018-10-08 19:34] neeraj-singh47 commented on #87
@zek Did you restart the app again?

[2018-10-08 19:36] zek commented on #87
You mean in the simulator? Yes I did. Also I restarted expo.

[2018-10-08 19:37] neeraj-singh47 commented on #87
@zek Can you verify that you have a rn-cli.config.js file in root directory?

[2018-10-08 19:39] zek commented on #87
Yes I have. I tried to switch vue-native from my existing project.
[code]

[code]

[code]

[2018-10-08 19:42] neeraj-singh47 commented on #87
@zek Do you already have an existing project? If yes then what is it based on?

[2018-10-08 19:43] zek commented on #87
Just recently created react native project with connectycube.

[2018-10-08 19:45] neeraj-singh47 commented on #87
@zek What exactly is the error? Can you post the screenshot?

[2018-10-08 19:47] zek commented on #87
Same error what @ommehaz gets.

Unable to resolve "../../App" from "node_modules/expo/AppEntry.js"

I just deleted node_modules directory then run `npm install`

now it gives the error below
<img width="466" alt="screen shot 2018-10-08 at 22 46 48" src="https://user-images.githubusercontent.com/3463291/46630178-19774500-cb4c-11e8-8f50-333c3953934e.png">

[2018-10-08 19:51] neeraj-singh47 commented on #87
@zek I assume you did the below steps again
`cd node_modules/connectycube-reactnative/xmpp.js
make
cd ../../../
cp -r node_modules/connectycube-reactnative/xmpp.js/node_modules/* node_modules/` as specified in connectycube

[2018-10-08 19:52] zek commented on #87
yes without vue-native it works. But I wanna use vue-native and connectycube together.

[2018-10-08 19:55] zek commented on #87
<img width="433" alt="screen shot 2018-10-08 at 22 54 47" src="https://user-images.githubusercontent.com/3463291/46630545-2e080d00-cb4d-11e8-9874-14493183b862.png">

[2018-10-08 20:24] zek commented on #87
@neeraj-singh47 I just renamed App.vue to App.js and tried, it failed then changed it to App.vue again now it works. Maybe it was a caching problem but its fine. Thank you 👍

[2018-10-11 06:32] #89 closed

[2018-10-11 09:31] jackywongmm commented on #11
debugger？aha

[2018-10-14 06:27] eladcandroid opened #90 "[Interesting Idea] Convert this library to a Vue CLI 3 Plugin"
Should increase the usage for this great repository...

[2018-10-15 12:02] sanketsahusoft commented on #90
@eladcandroid Help us! :-)

[2018-10-19 00:50] fogil opened #91 "Please update library to work with React-Native 57+"
The current library supports up to and including RN 55, however this version of react-native has a show-stopping bug:  Hot-Reloading stops working after refreshing the app. (ref: https://github.com/facebook/react-native/issues/18899)  This bug is present on RN 51, 52, 53, 54, 55, 56, and is only fixed in the latest RN57.

[2018-10-19 01:33] fogil commented on #91
I *believe* all that's needed is to update the rn-cli.config.js to this:
[code]

[2018-10-19 01:47] kida7 commented on #91
hi bro, where is this file?

[2018-10-19 07:27] fogil commented on #91
It's at https://vue-native.io/docs/installation.html  under the Setup with React Native section, Step 3

[2018-10-19 21:48] swisscows commented on #57
I am also having the same issue. I do not see a status-bar in the image posted. I have exactly the same code.

[2018-10-20 04:58] neeraj-singh47 commented on #57
@swisscows Can you clone this https://github.com/ankitsinghania94/vue-native-todo-app and check if the status bar is showing up or not

[2018-10-20 08:03] RomanMarkelov opened #92 "Where are the base components declared?"
Why are basic components below available to me without import?
[code]
For example from the code below I understand where components come from.
[code]

[2018-10-20 08:13] RomanMarkelov opened #93 "How to set up a code editor for comfortable development with vue-native?"
How to set up code editors like ( [vscode](https://github.com/Microsoft/vscode), [webstorm](https://www.jetbrains.com/webstorm/) ) for comfortable development with vue-native?

Share please yours settings, plugins, etc which you use 🙂

[2018-10-21 10:50] neeraj-singh47 commented on #92
@RomanMarkelov All the React Native Components are being loaded through the compiler during the build time. Hence there's no need to import the React Native Components

[2018-10-21 10:50] #92 closed

[2018-10-21 10:57] neeraj-singh47 commented on #93
@RomanMarkelov You can make use of `vue` plugin in vscode for syntax highlights

[2018-10-21 10:57] #93 closed

[2018-10-22 05:14] RomanMarkelov commented on #93
@neeraj-singh47  I thought I'd find out something new.

That's what's missing:

- [ ] Autocomplete

![screenshot 2018-10-22 08 13 12](https://user-images.githubusercontent.com/12942199/47278522-650d0280-d5d2-11e8-8414-071df7415b9d.png)

This also applies to components.

[2018-10-22 22:04] swisscows commented on #57
Can confirm. The app looks identical with the status-bar element and without.

[2018-10-23 02:54] Moikapy commented on #90
I agree, this would be an amazing plugin

[2018-10-23 08:15] yoking-shi opened #94 "how to get the { Platform } ?"
in react native, by` import {Platform} from 'react-native`
in vue native, how to get the Platform??
i try the `import {Platform} from 'vue-native-core`
but not work.

[2018-10-23 16:02] mehdikhody opened #95 "no such file or directory, uv_chdir"
[code]

[2018-10-24 12:52] Peretz30 opened #96 "View shadow"
I want to have box-shadow like this

![image](https://user-images.githubusercontent.com/27721091/47431383-5d9d5300-d7a4-11e8-8874-107fe23a281a.png)
According https://github.com/styled-components/styled-components/issues/709#issuecomment-409810928
I am trying to use:

[code]

And there are no shadows...

[2018-10-24 19:07] neeraj-singh47 commented on #94
@yoking-shi You'll have to use `import {Platform} from 'react-native`. You can visit https://vue-native.io/ for more information.

[2018-10-24 19:07] #94 closed

[2018-10-24 19:12] neeraj-singh47 commented on #95
@mehdikhody Did you receive any options for template? if yes, What did you choose?

[2018-10-25 06:51] Peretz30 commented on #96
@neeraj-singh47 yes, only I have this issue?

[2018-10-25 11:31] Peretz30 commented on #96
![image](https://user-images.githubusercontent.com/27721091/47497400-9ef43800-d862-11e8-9471-511bb90a3a93.png)
even with margin and padding it's not working

[2018-10-25 19:52] Mxkkxa opened #97 "Something went wrong"
Just trying to get started from the tutorial here: https://vue-native.io/docs/installation.html

I could never succeed it with crna project one, I keep getting "soemthing went wrong" error on my android, "could not load exp://x.x.x.x:19000 Network response timed out."

[2018-10-26 18:11] DannyFeliz commented on #11
Waiting for this

[2018-10-29 07:37] neeraj-singh47 commented on #97
@Mxkkxa You need to be connected on the same network

[2018-10-29 07:41] neeraj-singh47 commented on #11
@DannyFeliz The source map support has been included. For more info, refer to the above comment. https://github.com/GeekyAnts/vue-native-core/issues/11#issuecomment-414709850

[2018-11-01 14:20] javico2609 opened #98 "Vue Native init breaks due to 'react-native-scripts'"
UnhandledPromiseRejectionWarning: Error: Cannot find module '\demos\vueNative\node_modules\react-native-scripts\build\scripts\init.js'

[2018-11-01 15:48] neeraj-singh47 commented on #98
@javico2609 You might have to update the vue-native cli and install expo cli as well? Which version of vue-native-cli are you using?

[2018-11-01 19:15] neeraj-singh47 commented on #98
@javico2609 Can you try npm install -g create-react-native-app and try again

[2018-11-01 19:40] javico2609 commented on #98
@neeraj-singh47 tnx that fix the issue

[2018-11-02 03:04] mgween opened #99 "Can't pass arguments to button :on-press function"
Making the following modification to the example for the Button component causes the function to be run immediately and gives the error: `Warning: Failed prop type: The prop 'onPress' is marked as required in 'Button', but its value is 'undefined'.` The button will then not work any further.

`<button
    :on-press="onPressLearnMore('Hello')"
     title="Learn More"
 />`
`onPressLearnMore: functio

[2018-11-02 05:43] #98 closed

[2018-11-02 05:45] neeraj-singh47 commented on #99
@mgween If you want to pass argument. The format should be `:on-press="() => OnPressLearnMore('hello')".

[2018-11-02 05:45] #99 closed

[2018-11-03 04:46] paliwalsam opened #100 "third party component"
Hi team

Using:
==============
react-native
vue native
native base

Issue with:
=============
https://www.npmjs.com/package/react-native-timeago

&lt;nb-col&gt;
   &lt;TimeAgo time="2015-06-21T06:24:44.124Z" /&gt;
&lt;/nb-col&gt;

result
Invariant violation: Element type is invalid

[2018-11-04 00:00] javico2609 opened #101 "Setup with Vue Native Cli does not work"
Unable to resolve "../../App" from "node_modules\expo\AppEntry.js"

vue-native init vueNative
    blank template option

 npm 6.0.1
 node v8.11.1
 expo 2.2.5
 vue-native 0.0.3
 OS Win10

[2018-11-04 12:33] adrianschneider94 opened #102 "Long-term support"
Hi!

Are there any plans or prospects of the long-term support of this package?

Best wishes,
Adrian Schneider

[2018-11-05 07:36] neeraj-singh47 commented on #102
@adrianschneider94 We are going to support it for at least next 6 months. It really depends on the response of the community how this project unfolds.

[2018-11-05 07:36] #102 closed

[2018-11-05 07:38] neeraj-singh47 commented on #100
@paliwalsam Have you declared TimeAgo as component within vue component?

[2018-11-05 07:40] neeraj-singh47 commented on #101
@javico2609 Can you verify that your app.json contains a packagerOpts something like https://github.com/GeekyAnts/vue-native-core/issues/87#issuecomment-424078237

[2018-11-05 07:45] paliwalsam commented on #100
import TimeAgo from 'react-native-timeago';
imported in vue file

could not find documentation for "declared component within vue component?"

[2018-11-05 07:52] paliwalsam commented on #100
thanks, resolved

[2018-11-05 08:49] alphaelf commented on #101
I have the same issue
i remove the  `App.js `

[2018-11-05 14:55] javico2609 commented on #101
@neeraj-singh47

{
  "expo": {
    "name": "vueNative",
    "description": "This project is really great.",
    "slug": "vueNative",
    "privacy": "public",
    "sdkVersion": "31.0.0",
    "platforms": [
      "ios",
      "android"
    ],
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode

[2018-11-05 17:10] syropian opened #103 "Doesn't work with expo-cli"
CRNA is deprecated in favour of expo-cli. I tried getting setup manually by installing, `vue-native-core`, `vue-native-helper`, and `vue-native-scripts`. I added the suggested `vueTransformerPlugin.js` file, created a `rn-cli.config.js` file in the root, and added it to my `app.json` file:

[code]

When running `npm start` I simply get: `Metro Bundler process exited with code 0`.

[2018-11-05 17:19] drbarto commented on #100
@paliwalsam please close this issue if it is resolved.

[2018-11-06 14:51] jgiovanni commented on #91
Vue Native works with this configuration:
`react-native@0.57.4` + `react@16.5.1` + `react-test-renderer@16.6.0-alpha.8af6728`

[code]

[code]

[2018-11-06 20:45] #100 closed

[2018-11-09 16:01] tatsuyaueda commented on #101
I solved this problem.

It worked by rewriting rn-cli.config.js to the contents of the following comment.

https://github.com/GeekyAnts/vue-native-core/issues/91#issuecomment-431216570

Reactive Native 57+ seems to need this.

Thanks.

[2018-11-10 02:51] kamontia commented on #101
I also face the same issue.

[code]

[code]

[code]

[code]

[code]

What should I do to build successfully?

[2018-11-10 06:22] paliwalsam opened #104 "Third Party component require react-native Component"
https://www.npmjs.com/package/react-native-ptr-control

This plugin Pull-to-Refresh require react-native component

&lt;PTRControl
  style={{flex: 1}}
  showsVerticalScrollIndicator={false}

  scrollComponent=**{'ScrollView'}**
  enableFooterInfinite={false}&gt;
  &lt;View&gt;
    &lt;Text&gt;{'scroll content'}&lt;/Text&gt;
  &lt;/View&gt;
&lt;/PTRControl&gt;

My Code is:

&lt;PTRControl
    :styl

[2018-11-10 14:33] neeraj-singh47 commented on #104
@paliwalsam Do not bind the ScrollView. It searches for `ScrollView` variable which is not declared. Remove the colon symbol and try again. `scrollComponent="ScrollView"`

[2018-11-10 18:30] sai3ot-priv commented on #101
I ran into the same issue but it seems that I found a working solution.
After a google-search it turns out, that vue-native needs the version 0.55.4. of  react-native
So I changed it in my package.json but this causes some errors. So I also needed to downgrade the packages babel-preset-expo to 4.0.0 and expo to 29.0.0 and changed the sdk-version in my app.json to 29.0.0. Whatever this is my workin

[2018-11-12 04:21] #104 closed, assigned to nobody

[2018-11-12 05:06] donvie commented on #91
@jgiovanni  I dont have .babelrc where can i find that what i have is babel.conifg.js

[2018-11-12 06:30] donvie commented on #74
still getting the error solution please

[2018-11-12 06:56] donvie commented on #91
@jgiovanni Im using expo

[2018-11-12 07:41] donvie commented on #91
![image](https://user-images.githubusercontent.com/6716238/48333202-75744280-e691-11e8-9dd0-cc179ae35f1f.png)

[2018-11-12 07:42] donvie commented on #91
the my vue native app is on the header

[2018-11-13 03:54] pakerwreah opened #105 "Custom component two-way data binding"
I read that vue-native already has support for v-model, but how can I create custom components in Vue using v-model / prop.sync without being able to $emit('input', value) or $emit('update:prop', value) ?

Is that feature exclusive to the transpiler?

[2018-11-13 08:30] lhernandezp commented on #101
Thanks!!!! , this is solution definitive!!

[2018-11-13 19:55] pakerwreah opened #106 "Is it possible to bind {...props} in Vue? $attrs is undefined"
I'm trying hard to create a custom component in vue-native but I can't propagate props to children.

[2018-11-14 11:08] neeraj-singh47 commented on #106
@pakerwreah Did you try passing it as normal props?

[2018-11-14 11:15] neeraj-singh47 commented on #105
@pakerwreah $emit right now works only within component. You can try using v-model.

[2018-11-14 12:09] pakerwreah commented on #105
I am using v-model, that's the problem. If I use v-model on my element (a wrapper around Input) and then try to use it like: props: ['value'] ... <Input v-model="value" />, then when I type it keeps erasing my text. That's not event the right way to do it, since props are readonly in normal Vue.
As a workaround I'm using slots so I can bind data with v-model directly into Input from the parent. I'

[2018-11-14 12:16] pakerwreah commented on #106
Yes I did, it works, but I like to make generic components so my developer team can work seamless. As it is I'll have to map every single prop to my child component. In normal Vue I would just v-bind='$attrs' but $attrs is not even defined in vue native and I tried binding a json manually just for testing v-bind="{ placeholder: 'test 123' }" and it doesn't work either.

[2018-11-14 13:34] neeraj-singh47 commented on #105
@pakerwreah Since you are basically trying to modify the prop which is not allowed. It's empty. You can use onChangeText and call the parent function to modify the value

[2018-11-14 13:35] neeraj-singh47 commented on #85
Closed due to inactivity

[2018-11-14 13:35] #85 closed

[2018-11-15 16:41] PsychoXIVI commented on #87
I have same issue. :C

[2018-11-19 00:11] guillaumeduhan commented on #87
Hello,

Same issue here. After following solutions above, couldn’t resolve this error : « Unable to resolve module App... ».

I removed node modules, uninstall and install again crna, Vue-native and even watchman from Facebook.

Error remain the same.

[2018-11-19 08:57] Peretz30 commented on #49
How can I use callback in ref in Vue Native ? https://github.com/vuejs/vue/issues/4998
Can't make [ref-vue plugin](https://github.com/vueComponent/vue-ref) work for me.

[2018-11-19 12:59] gabfr commented on #87
@guillaumeduhan @PsychoXIVI  Someone managed to get around this issue?
I already tried the steps above and nothing worked

[2018-11-19 13:51] minsulander commented on #87
+1 same issue here

[2018-11-19 13:57] gabfr commented on #87
Both methods: creating the project with the vue native cli, and also creating with the react native cli and then installing the vue-native packages result essentially in the same error

[2018-11-19 18:03] neeraj-singh47 commented on #87
Have you guys tried out https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353?

[2018-11-19 19:29] crisgon opened #107 "[Idea]"
Hello! I would like to know if there is a possibility to start a translation of the documentation for PT-BR? I am interested in doing this with some people in the Brazilian community.

[2018-11-19 19:43] neeraj-singh47 commented on #107
@crisgon Sure you can go ahead and create a pull request

[2018-11-21 07:55] Davidzhu001 opened #108 "is this project still under maintaining"
is this project still under maintaining？

[2018-11-22 00:50] FluidCui commented on #108
no maintain for a long time

[2018-11-22 03:10] Davidzhu001 commented on #108
@FluidCui 你这么知道？

[2018-11-22 03:42] jimwmg commented on #87
still not work  ,same error Unable to resolve "../../App" from "node_modules/expo/AppEntry.js"
E

[2018-11-22 03:55] jimwmg commented on #87
you can try this to solve the problem;
[try this ](https://github.com/GeekyAnts/vue-native-core/issues/91#issuecomment-431216570)

[2018-11-23 14:42] guillaumeduhan commented on #87
hello @gabfr no solution founded and tried everything before

[2018-11-23 14:43] guillaumeduhan commented on #87
Hello @zek you succeed by changing app.vue in app.js and again in app.vue by refreshing? Or restart server?

[2018-11-23 16:51] manusiakemos commented on #87
still waiting

[2018-11-23 17:44] neeraj-singh47 commented on #87
There's a problem with latest version of expo. We'll release a fix soon.

[2018-11-25 07:24] #105 closed, assigned to nobody

[2018-11-25 09:19] Davidzhu001 commented on #108
@neeraj-singh47 thanks man!

[2018-11-25 17:03] manusiakemos commented on #87
yo what's up

[2018-11-25 18:49] #97 closed

[2018-11-27 11:38] lopans commented on #87
that's awesome, but how long? And is there any hot local fix?

[2018-11-27 16:17] croossin commented on #87
@neeraj-singh47 Any updates on the fix?

[2018-11-27 16:22] croossin commented on #87
I was able to easily fix the issue locally with [this response](https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353).

[2018-11-28 04:10] Davidzhu001 commented on #65
@lenvonsam can you share the way of how you solved it?

[2018-11-28 21:28] kramer65 opened #109 "vue-native init doesn't work"
Since, crna has been merged into expo I installed the expo cli using `npm install -g expo-cli`. After that I tried running `vue-native init blorkblork`, but I get an error saying:

Is vue-native going to be compatible with the expo-cli in the (near) future?

[2018-11-29 06:53] Davidzhu001 opened #110 "what is the latest expo you guys support?"
what is the latest expo you guys support?

[2018-11-29 09:20] tamacroft opened #111 "Error while run on Android"
first project, when i run on Android/emulator, i got an error on terminal:
unable to resolve "../../App" from "node_modules/expo/AppEntry.js"

how fix it

[2018-11-29 13:14] guillaumeduhan commented on #87
@croossin Hello friend, I am going to try it soon. Tell you if it's working for me

[2018-11-29 18:32] guillaumeduhan commented on #87
Okay everybody, @croossin had [the solution before here](https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353).

[2018-11-29 19:07] neeraj-singh47 commented on #110
@Davidzhu001 We support expo version till 30. Since we are working towards supporting react native > 0.55.4. We'll add support for expo versions > v30 as well

[2018-11-29 19:07] #110 closed

[2018-11-29 19:09] neeraj-singh47 commented on #111
@tamacroft https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353

[2018-11-29 19:09] neeraj-singh47 commented on #109
@kramer65 Yes we'll be removing the create-react-native-app dependency

[2018-11-29 19:09] #109 closed

[2018-11-30 00:52] croossin opened #112 "React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: %s.%s%s, undefined"
Seems like there could be an issue with `ReactVueComponent`?

[code]

In `package.json`:
[code]

And in case it matters, this is my `Welcome.vue` file:
[code]

[2018-11-30 17:41] croossin commented on #112
@neeraj-singh47 For whenever you get a chance to look at this.

[2018-11-30 18:03] neeraj-singh47 commented on #112
@croossin `div` will not work since it's an html tag. You can visit https://vue-native.io/ for further information

[2018-11-30 18:03] #112 closed

[2018-12-02 14:03] nhanco opened #113 "How do i change the app name ?"
I just found the way to change app name is change the name in package.json. But my app name contains space and Unicode character. If I change the name in package.json the app will not work.

[2018-12-02 15:15] neeraj-singh47 commented on #113
@nhanco https://medium.com/the-react-native-log/how-to-rename-a-react-native-app-dafd92161c35

[2018-12-02 15:15] #113 closed

[2018-12-05 17:49] juriuschakow commented on #101
How have you done that? The downgrading i mean

[2018-12-05 19:17] carlsunderman commented on #101
yes, i changed all three items sdk as well as babel expo and expo. still the same errors

[2018-12-05 19:51] neeraj-singh47 commented on #101
@carlsunderman Can you try clearing the cache as well

[2018-12-06 16:14] marvinrabe commented on #103
Your docs https://vue-native.io/docs/installation.html mention React Native CLI. But when I click on the link, this page opens: https://facebook.github.io/react-native/docs/getting-started.html There is a getting started guide using expo-cli.

So I installed expo-cli like described and continued with the vue-native-cli setup.

On calling

    npm install -g vue-native-clivue-native init <projectNa

[2018-12-08 10:48] HanSoRyong opened #114 "webview"
The input type file can not be executed in android webview.

[2018-12-08 15:13] lost-vetern commented on #74
i am using
vue-native inti projectname --no-crna
and when ever i run my vue native app it starts the app.js file instead of app.vue ...
any solution ??

[2018-12-08 18:36] neeraj-singh47 commented on #103
@marvinrabe We are working on it. We'll update the vue-native cli soon

[2018-12-08 18:40] neeraj-singh47 commented on #114
@HanSoRyong It's an existing issue. You can make use of https://github.com/react-native-community/react-native-webview

[2018-12-08 18:43] neeraj-singh47 commented on #74
@lost-vetern Can you verify that you are using RN < 0.55.4 and the config is similar to https://github.com/GeekyAnts/vue-native-starter-app

[2018-12-09 13:18] lost-vetern commented on #74
react-native-cli: 2.0.1
react-native: 0.57.1
and the "rn-cli.config.js" files are similar

[2018-12-09 16:07] neeraj-singh47 commented on #74
@lost-vetern You are using react-native > 0.55.4. It's not supported yet

[2018-12-12 17:17] ProjectInfinity commented on #87
This is still a problem.

[2018-12-15 18:39] #114 closed

[2018-12-17 09:21] slinker-hiwa opened #115 "How to use i18n"
I need use i18n to use multiple language in my app. Any way or library? Thanks.

[2018-12-17 09:32] neeraj-singh47 commented on #115
@slinker-hiwa http://kazupon.github.io/vue-i18n/guide/started.html#javascript. You can use Vue.use(VueI18n). You can look into this example for integration. https://github.com/GeekyAnts/vue-native-starter-app/blob/master/src/setup.vue

[2018-12-18 08:02] slinker-hiwa commented on #115
@neeraj-singh47 thanks so much.

[2018-12-18 08:16] vickey999 commented on #95
I am also getting same issue

internal/process/main_thread_only.js:31
    return _chdir(...args);
           ^

Error: ENOENT: no such file or directory, chdir 'myapplication'
    at process.chdir (internal/process/main_thread_only.js:31:12)
    at handleAndAddVueNativePackageDependencySync (C:\Users\Admin\AppData\Roaming\npm\node_modules\vue-native-cli\src\index.js:140:11)
    at createVueNativeP

[2018-12-18 14:58] maxgeraci opened #116 "Refresh list"
Is it possible to refresh a list with native-base on vue-native?

[2018-12-19 06:42] #115 closed

[2018-12-20 10:23] 6ea opened #117 "Unable to resolve "../../App" from "node_modules/expo/AppEntry.js""
ERROR

Unable to resolve "../../App" from "node_modules/expo/AppEntry.js"

After a day's tossing around, ask for help

[2018-12-20 11:01] 6ea commented on #117
Building JavaScript bundle: 0%

[2018-12-20 11:03] neeraj-singh47 commented on #117
@6ea You can try using this method https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353

[2018-12-20 11:19] neeraj-singh47 commented on #116
@maxgeraci Yes it is. Here's how you can implement it https://vue-native.io/docs/render-prop.html

[2018-12-20 11:19] #116 closed

[2018-12-21 10:08] maxgeraci commented on #116
@neeraj-singh47 But how? I can't find any information on how to use it to refresh a list by pulling down

[2018-12-27 06:34] Magnai1030 opened #118 "Maximum call stack size exceeded on Animate"
When i use animate component in Developer mode it works fine but In Production mode the error appears. And i removed my all animate:view instead one animate component from my template then it worked. What should i do ?
My Template:
[code]
So i reduced like:
[code]
So i think it has to be only one animate component in a screen, Or i have to write React native component
**My Defendencies**
[code]

[2018-12-27 10:14] Magnai1030 opened #119 "Error calling RCTEventEmitter.receiveTouches on React Navigation reset"
First of all i used to vue-native-router and i moved on react-navigation. I tried to use reset function but there is error which is  Error calling RCTEventEmitter.receiveTouches. Is there any solution Or should i have to use vue-native-router

**My reset function is:**
[code]
**My Defendencies**
[code]

[2018-12-28 03:35] hkvega01 commented on #87
I have same problem but i can't resolve that

[2018-12-28 03:36] hkvega01 commented on #101
what are the commands needed for downgrade?

[2018-12-28 16:33] 1quintana commented on #101
Using @lhernandezp works for me!

[2018-12-30 20:04] LeafarDev commented on #101
Using @lhernandezp works if I use "expo start" instead of "npm start"

[2019-01-02 16:07] EricBrandt2512 commented on #103
Is there a workaround to get this started? I love Vue and switching to react would be a bummer

[2019-01-02 17:40] marvinrabe commented on #103
@EricBrandt2512 Maybe consider using https://www.nativescript.org/vue . That one is better maintained.

[2019-01-03 03:01] milgron commented on #87
Still the same problem here.

[2019-01-03 09:33] jjmahe commented on #87
yes, I confirm, still the same issue, with a fresh expo and vue-native install. neither blank or tabs default apps work. did the rm things, no joy. I don't want to touch config files as I don't want to do what I don't understand. should work as per instructions from the install scripts themselves.

[2019-01-03 09:51] jjmahe commented on #87
in fact when trying the expo build:os it says that it is not looking for App.vue ! that is a pity when trying a vue-native build!

[2019-01-04 19:00] flamehazw commented on #101
I also followed the documentation exactly but had same problem. I still don't know whats the issue, maybe this discussion will solve it later on . So, I cloned https://github.com/GeekyAnts/KitchenSink-Vue-Native, replaced App.vue with default welcome screen and ran the expo start --android with latest expo installed in emulator and it worked.

[2019-01-05 06:30] moneil868 commented on #87
Has there been any progress on a fix for this?

[2019-01-06 18:19] 317482454 opened #121 "How to use refreshControl in scroll-view?"
Can you provide a demo?
<scroll-view :refreshControl="handleHeaderClick1()">
            <nb-content>
                <nb-list-item v-for="i in 10" avatar>
                    <nb-left>
                    </nb-left>
                    <nb-body>
                        <nb-text>Kumar Pratik</nb-Text>
                        <nb-text note :numberOfLines="1">Doing what you like will always keep you

[2019-01-06 19:07] 317482454 opened #122 "refreshControl shows problems under Apple 6S"
Apple 6S，System version 12.1

Android does not have this problem

![ezgif-2-53bddc456475](https://user-images.githubusercontent.com/16585053/50740395-93d96300-1228-11e9-8cd5-738142388c65.gif)

[code]

[2019-01-13 19:40] jnav24 commented on #101
I am also getting this error. If I try the "solution", I get more errors. @flamehazw solution in cloning the kitchen sink repo, replace the App.vue, delete all the js files in the src directory, and using the expo command (not npm or yarn commands) is the only thing working for me.

[2019-01-13 21:36] ahmedsabry1996 commented on #101
after editing app.json & package.json run ` npm install ` then run `npm start `

[2019-01-13 23:40] divrse commented on #91
@donvie have you found a fix for this?  my app is also appearing on the top of the screen after I changed the rn-cli file.

[2019-01-14 04:48] flamehazw commented on #101
@jnav24  hmm another best way to workaround is that just go to the playground link https://play.nativescript.org/?template=play-vue then download the file and "npm install" at the project directory and "tns run android --bundle" will work definitely but make sure you got your tns configuration setup is perfect before you start.  let me know if you are getting same problem again

[2019-01-16 04:03] elfelround commented on #117
in my case i had named App.js app.js in lowercases

[2019-01-17 10:02] nucreativa commented on #91
same here, please share your fix for this issue (appearing on the top and css not working)

[2019-01-18 08:54] divrse commented on #91
@nucreativa I gave up on using the latest version of react native and followed the instructions here https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-437606353 to downgrade
and got it working

[2019-01-18 19:10] xcxooxl commented on #91
I also got it "working" with the latest react-native,

create a file in your main project directory

metro.config.js :
[code]

.babelrc:
[code]

package.json:

[code]

[2019-01-23 17:24] Jtaugner commented on #101
I spent 5 hours to decide fix this error. I hope this helps someone.
Just download and start "npm install".
https://github.com/Jtaugner/vue-native/tree/master

[2019-01-28 02:35] lenvonsam opened #123 "Please update library to work with React-Native 58+"
React Native has published last version of 0.58.0, i hope vue native can also support the lastest version for react native

[2019-02-04 20:18] lucasromanojf commented on #91
Expo is now on 32.0.0 and supporting RN 0.57. Would be good if Vue Native could follow.

[2019-02-05 03:05] funabashi800 commented on #101
after editing package.json and app.json with @lhernandezp, try to delete node_modules and then reinstall again

[code]

[2019-02-05 08:58] umatbro commented on #101
After doing this I get following error:

[code]

[2019-02-05 09:47] funabashi800 commented on #101
@umatbro Actually, this is all I did

* expo 2.7.1
* node v10.15.0
* npm 6.7.0

[code]
And then, just edit like https://github.com/GeekyAnts/vue-native-core/issues/101#issuecomment-460497014

[2019-02-09 18:44] neeraj-singh47 commented on #95
Try updating vue-native-cli to latest verion and creating an app.

[2019-02-09 18:44] #95 closed

[2019-02-09 18:48] neeraj-singh47 commented on #123
Support for RN > 0.55 has been added. Please update vue-native-cli to create  a new app with RN version > 0.55. [ Latest Release](https://github.com/GeekyAnts/vue-native-cli/releases/tag/0.0.6)

[2019-02-09 18:48] #123 closed

[2019-02-09 18:49] neeraj-singh47 commented on #117
This issue was related to expo installing RN > 0.55.4 by default. Support for RN > 0.55 has been added. Please update vue-native-cli to create  a new app with RN version > 0.55. [ Latest Release](https://github.com/GeekyAnts/vue-native-cli/releases/tag/0.0.6)

[2019-02-09 18:49] #117 closed

[2019-02-09 18:50] neeraj-singh47 commented on #111
This issue was related to expo installing RN > 0.55.4 by defualt. Support for RN > 0.55 has been added. Please update vue-native-cli to create  a new app with RN version > 0.55. [ Latest Release](https://github.com/GeekyAnts/vue-native-cli/releases/tag/0.0.6)

[2019-02-09 18:50] #111 closed

[2019-02-09 18:52] neeraj-singh47 commented on #103
CRNA has been deprecated in favour of expo-cli. The latest version of vue-native-cli does not depend CRNA anymore.

[2019-02-09 18:52] #103 closed

[2019-02-09 18:53] neeraj-singh47 commented on #101
This issue was related to expo installing RN > 0.55.4 by default. Support for RN > 0.55 has been added. Please update vue-native-cli to create  a new app with RN version > 0.55. [ Latest Release](https://github.com/GeekyAnts/vue-native-cli/releases/tag/0.0.6)

[2019-02-09 18:53] #101 closed

[2019-02-09 18:56] neeraj-singh47 commented on #91
Thank you @fogil. @lucasromanojf  Support for RN > 0.55 has been added. Please update vue-native-cli to create  a new app with RN version > 0.55. [ Latest Release](https://github.com/GeekyAnts/vue-native-cli/releases/tag/0.0.6)

[2019-02-09 18:56] #91 closed

[2019-02-10 09:34] Cipher7 commented on #87
My project install and ran correctly after I installed yarn, I hope this helps someone.

[2019-02-11 12:31] vahidalvandi commented on #109
return error
'expo' is not recognized as an internal or external command,

[2019-02-11 12:46] vahidalvandi opened #124 "expo"

[2019-02-11 12:46] #124 closed

[2019-02-11 12:47] vahidalvandi commented on #109
after install  `npm install -g expo-cli`

aslo return this error

[code]

[2019-02-12 16:15] vahidalvandi commented on #109
it must use in cmd not in power shell

[2019-02-12 17:56] vahidalvandi opened #125 "after install and run emultor return this error"
D:\react-native\sss\node_modules\expo\AppEntry.js: Cannot find module
'vue-native-scripts'

[2019-02-13 22:08] bosyo opened #126 "Setup with react native not working"
Hi,

Followed all steps in the documentation https://vue-native.io/docs/installation.html#Setup-with-React-Native but it doesn't seem to work.
I am having this "Unable to resolve module ./App". I have tried several configs but still no joy. I even cloned the KitchenSink Vue Native App just to test if it is working but i encountered the same issue.

Cheers!

[2019-02-14 09:33] neeraj-singh47 commented on #126
@bosyo Try creating a project using vue-native-cli. https://vue-native.io/docs/installation.html#Setup-with-Vue-Native-Cli

[2019-02-14 09:33] neeraj-singh47 commented on #125
@vahidalvandi run `npm install vue-native-scripts`

[2019-02-14 09:33] #125 closed

[2019-02-14 11:07] vahidalvandi commented on #125
maybe not work in shell git just work in cmd windows

[2019-02-14 11:08] vahidalvandi commented on #125
please fix bugs in install

[2019-02-21 19:40] baranelitez commented on #108
there hasn't been any updates since September 2018. I can hardly call this 'under maintaining'.

[2019-02-26 11:19] ccir105 opened #127 "How can i pass vue-native/react-native component component as props ?"
I am trying to use https://github.com/leecade/react-native-swiper. I have to pass a element (component) in prop. How can i achieve this in vue native ?
` <Swiper
          dot={<View style={styles.dot} />}
          activeDot={<View style={styles.dotActive} />}/>`

[2019-02-26 18:56] ccir105 commented on #127
I figure it out and closing it,

[2019-02-26 18:56] #127 closed

[2019-02-27 06:07] #126 closed

[2019-02-28 09:43] ccir105 opened #128 "Using vue native component which is in different file as props in a react component."
I was trying to create a vue native component (has template, script and style) and import it where i need to pass that as component.
I am using flat-list in vue native and I am trying to pass a component which is in .vue.
[Vue Component] (ExpenseItem.vue)
[code]
[code]
Main Component

[code]
[code]
Sorry if the question is not clear. I tried it but no luck. I got react native error saying expected

[2019-02-28 11:21] #128 closed

[2019-03-08 04:30] dacastro4 opened #130 "[Android] Dynamic URL image not working"
I'm trying to change an image element from a placeholder image to the user's profile picture from a http request.

my data has:

[code]

and the template just has
[code]

This is the result:
![screen shot 2019-03-07 at 11 29 47 pm](https://user-images.githubusercontent.com/7808930/54007682-f10e6980-4130-11e9-99e9-672415884e20.png)

You have any idea what I could be? Am I doing something wrong?

[2019-03-09 09:37] vortechron commented on #25
is $emit never gonna work? its 2019 already :D

[2019-03-09 12:36] vortechron opened #131 "How to avoid fullscreen"
How to fix this????

![Capture](https://user-images.githubusercontent.com/22893960/54071665-d102b580-42aa-11e9-9411-3ac0207cc4ee.PNG)

[2019-03-09 12:37] vortechron commented on #131
im running my app for the first time, and this what i got, my code has nothing to do with fullscreen, its just simple screen with header. pls halp!

[2019-03-09 15:17] neeraj-singh47 commented on #130
@dacastro4 Can you try giving it an extension. For Example. `https://via.placeholder.com/150.png`

[2019-03-09 15:18] neeraj-singh47 commented on #131
@vortechron https://facebook.github.io/react-native/docs/statusbar.html

[2019-03-09 15:31] dacastro4 commented on #130
@neeraj-singh47 I tried with another online image an still and it still works for iPhone perfectly

[2019-03-09 15:34] neeraj-singh47 commented on #130
@dacastro4 So it's not loading in android?

[2019-03-09 15:45] dacastro4 commented on #130
@neeraj-singh47 it is not. Only if the URL is static

[2019-03-09 15:58] neeraj-singh47 commented on #130
@dacastro4 Can you try using this image URL. `https://facebook.github.io/react-native/docs/assets/favicon.png`

[2019-03-09 21:22] gBragamonte opened #132 "Unstable component "Picker" from react native"
## Problem

Using Picker, component from react-native, the data binding fails sometimes (no one error)

**App.vue**
[code]

### Behavior

![Peek 2019-03-09 18-19](https://user-images.githubusercontent.com/30661999/54077493-03ef7e00-4298-11e9-87ab-3d87053ede4f.gif)

## Env

### OS
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

### Project (using vue-native-c

[2019-03-10 03:00] dacastro4 commented on #130
I think the Android emulator is blocking my local images at least that what I think it is. I'm going to close it for now

[2019-03-10 03:00] #130 closed

[2019-03-12 01:15] terrydemco opened #133 "Add compatibility for hot reload"
Fresh install.
Hot reloading does not work with .vue files, .js files do work however.
Live reloading seems to work just fine with vue files.

[2019-03-12 12:46] #131 closed

[2019-03-12 12:46] vortechron commented on #131
@neeraj-singh47 tq !! im hiding those status bar :D

[2019-03-12 17:11] Sara-attallah commented on #118
Exactly the bug I have!!
@Magnai1030  Any news on this ? Or any tricks ?
App without animation is so rough and just discovered this bug before release.
Not cool 😓

[2019-03-13 17:29] neeraj-singh47 commented on #118
@SaraTV9 Is it necessary for you to have a nested animated view?

[2019-03-14 08:22] SaraTV9 commented on #118
@neeraj-singh47 well, I animate an opacity to render smoothly elements on transition page.
You mean that it works on simple element but not nested? Is it specific to vue-native ?

[2019-03-15 02:57] jcbertolucci opened #134 "Can't get Less working"
### I'm trying to use Less inside my components but I´m not being able to.

This error pops up when the screen is loading:

![Screenshot_20190315-134547](https://user-images.githubusercontent.com/24538294/54404828-d2a7ff80-4728-11e9-9f53-51f367def306.png)

**This is my code:**
[code]

**This is my package.json file:**

[code]

If someone knows how to get it working, I would much appreciate your he

[2019-03-15 03:12] dacastro4 commented on #11
It's been a year and they removed the in-progress label.. I don't think this is happening.

[2019-03-15 04:26] dacastro4 opened #135 "FlatList onRefresh not working on iOS"
I have a simple list, actually copied and pasted from the website (vue-native.io)

[code]
Works on Android but not on iOS

[2019-03-15 04:27] dacastro4 commented on #134
Probably the webpack or whatever they use doesn't have the compiler for less inside the Vue files.

[2019-03-15 04:28] Magnai1030 commented on #118
I removed half of my animation code and replaced with pure react native components. I just avoided to use vue native animation components. i dont think it was solution but it worked for me.

[2019-03-15 10:00] SaraTV9 commented on #118
@Magnai1030  and how do you do that ?

My vue-native code:

[code]

Try to pass React Native component directly:
[code]

got error:

Do I miss something ?

[2019-03-15 11:08] neeraj-singh47 commented on #134
@jcbertolucci You can make use of https://www.npmjs.com/package/react-native-less-transformer if you want to support `.less` files. You'll have to modify the vueTransformerPlugin.js so that for `.less` files it uses the less transformer.

[2019-03-15 11:08] #134 closed

[2019-03-15 22:05] jcbertolucci commented on #134
@neeraj-singh47 thanks for your help. What exactly should I modify in vueTransformerPlugin.js? Sorry, first-timer here :)

[2019-03-19 02:06] Magnai1030 commented on #118
@SaraTV9  I think you have to avoid to use animate in a template
just detach like:
[code]
and use like
[code]
i hope it will work

[2019-03-19 11:33] SaraTV9 commented on #118
@Magnai1030 thanks for the reply but it doesn't import my react native component into my vue component. Got the error:

So far I lograte to animate inline (not nested) elements (such as view, text...) but not external components cause they are nested of course. I imagine it's the best we can do :sweat:

[2019-03-19 11:34] SaraTV9 commented on #118
@Magnai1030 thanks for the reply but it doesn't import my react native component into my vue component. Got the error:

So far I lograte to animate inline (not nested) elements (such as view, text...) but not external components cause they are nested of course. I imagine it's the best we can do :sweat:

[2019-03-20 05:44] neeraj-singh47 commented on #134
@jcbertolucci Here's an example where sass transformer was being used.

var vueNaiveScripts = require("vue-native-scripts");
var reactNativeVersionString = require("react-native/package.json").version;
var reactNativeMinorVersion = semver(reactNativeVersionString).minor;
var SassTransformer = require("react-native-sass-transformer");
if (reactNativeMinorVersion >= 56) {
  upstreamTransformer = req

[2019-03-20 05:53] neeraj-singh47 commented on #135
@dacastro4 Can you send the whole code snippet?

[2019-03-20 12:57] dacastro4 commented on #135
[code]

[2019-03-28 14:14] karolsw3 commented on #25
Please, make the $emit work, many users don't know why is it not working and not everyone knows about this workaround...

[2019-04-01 11:54] shanprsd opened #137 "Accessing Parent Component's css classes in child component"
I want a css class to be applied on every component which gets loaded using stack navigation.
I have defined the `router-view` tag on App.vue component this way:

[code]
But accessing this class in the child component does not work.

[2019-04-05 11:54] brnmonteiro commented on #89
Hi!
I'm trying to use the [react-native-lottie](https://github.com/react-native-community/lottie-react-native)

The basic use in react is:

[code]

No problem. In Vue Native:

[code]
I can use and access the API using `"ref"` attr, but I can't make it work the `onAnimationFinish`.

Any suggestion?

[2019-04-12 12:24] birdlavv opened #138 "[Bounty- don't close until fix is accepted] $emit() doesn't work #25"
The workaround posted in #25 is not very scalable (can't implement global event bus).
This issue is to track the status of this feature for a bounty. Please do not close until an accepted fix is implemented. Thanks.

Similar to: https://github.com/GeekyAnts/vue-native-core/issues/25

https://www.bountysource.com/issues/72753924-bounty-don-t-close-until-fix-is-accepted-emit-doesn-t-work-25

[2019-04-12 12:27] birdlavv commented on #25
I've posted a Bountysource bounty:
https://www.bountysource.com/issues/72753924-bounty-don-t-close-until-fix-is-accepted-emit-doesn-t-work-25

Tracking Repo:
https://github.com/GeekyAnts/vue-native-core/issues/138

[2019-04-15 10:22] neeraj-singh47 commented on #137
@shanprsd This is not feasible. However you can try implementing global styles using the approach mentioned in https://stackoverflow.com/questions/30853178/react-native-global-styles/41751407#41751407

[2019-04-15 10:22] #137 closed

[2019-04-17 05:43] OzanKurt commented on #95
It's not a solution.

[2019-04-17 05:54] OzanKurt commented on #95
@neeraj-singh47

[2019-04-18 15:10] dacastro4 commented on #135
I stopped using vue native in favor of react native with expo.

[2019-04-18 15:10] #135 closed

[2019-04-19 12:32] quantumwebco opened #139 "Spelling mistake resulting in error"
Follwing https://vue-native.io/docs/installation.html

In ```vueTransfomrerPlugin.js``` there is a spelling mistake

```vueNaiveScripts``
should be
```vueNativeScripts```

Causes the error ```can't resolve module 'vue-native-scripts'``` and cannot compile anything

Was banging my head against a wall for ages trying to figure out why nothing was working.

[2019-04-25 10:29] eleallegue commented on #119
What happened then? I have opened my aplication and suddenly when I clicked on a button of the navigation bar, this error appeared and I cannot figure out why

[2019-04-30 03:17] Magnai1030 commented on #119
I completely moved on react navigation.
About navigation bottom or top bar i suggest react navigation own way to customize bar not custom component if it possible.

My Dependencies
   "haversine": "^1.1.1",
    "i18next": "^12.1.0",
    "react": "16.5.0",
    "react-i18next": "^8.3.8",
    "react-native": "0.55.4",
    "react-native-fast-image": "^5.2.0",
    "react-native-firebase": "^5.2.3",

[2019-04-30 07:10] neeraj-singh47 commented on #139
@quantumwebco Can you point out where exactly is it? I think maybe you are using the cached version of the website. Can you clear it out and help us find the mistake.

[2019-04-30 07:10] #139 closed

[2019-04-30 10:03] quantumwebco commented on #139
Firstly why are you closing this?? The spelling mistake is still there causing an error
Secondly I have stated clearly where the issue is above

This is the content of the file vueTransfomrerPlugin.js

[code]

[2019-04-30 10:07] quantumwebco opened #140 "vueTransformerPlugin.js error"
To recreate this error just follow the instructions
[code]

In vueTransformerPlugin.js on line 2 there is an error. The 't' is missing from vueNaiveScripts.

```var vueNaiveScripts = require("vue-native-scripts");``` should be ```var vueNativeScripts = require("vue-native-scripts");```

Causes the error ```can't resolve module 'vue-native-scripts'``` and will not compile

[2019-04-30 15:20] quantumwebco commented on #139
To be honest I've had such trouble with vue-native and wasted so much time I've just moved over to nativescript-vue which seems a lot more stable and with better features and more reliable

[2019-04-30 16:35] kidboo9o opened #141 "how to use react-native-code-push in vue-native ?"
how to use react-native-code-push in vue-native ?

[2019-05-01 10:21] tadao opened #142 "how to use MapView.Maker in VueNative?"
This sample code( https://vue-native.io/docs/community-libraries-doc.html#Maps ) is fine.
And I want to put up a marker on maps.
ReactNative sample code is below.
https://gist.github.com/jigkoxsee/437988af0eb506ffe9411fb9b3905640
How do we run this on VueNative?

[2019-05-02 02:30] tadao commented on #142
Sorry, I resolved.

[code]

[code]

[2019-05-02 02:30] #142 closed

[2019-05-02 15:40] charlie-hssrr opened #143 "How to StackAction.reset with vue-native-router?"
How do I stack action reset?

[code]

I get error:
![image](https://user-images.githubusercontent.com/50207699/57087763-0fdc4700-6d01-11e9-9311-d8bff263cf88.png)

[2019-05-09 07:28] neeraj-singh47 commented on #143
@charlie-hssrr You can refer this link for the usage `https://github.com/GeekyAnts/vue-native-starter-app/blob/master/src/screen/sidebar.vue`

[2019-05-09 07:28] #143 closed

[2019-05-10 10:06] neeraj-singh47 commented on #140
@quantumwebco It's a typo but it should work. Since there isn't a typo in requiring `vue-native-scripts`

[2019-05-10 10:06] #140 closed

[2019-05-10 10:20] neeraj-singh47 commented on #141
@kidboo9o Microsoft has pretty good documentation here. `https://github.com/Microsoft/react-native-code-push`. You'll have to follow the same instructions. The only change would be in the `index.js` file where the App component is being imported. You can wrap the root component using the codePush HOC in `index.js`

[2019-05-10 10:20] #141 closed

[2019-05-10 17:02] quantumwebco commented on #140
It doesn't work unless you change it. Or change all of the references to it

I gave up. vue-native is just terrible compared to other solutions.

[2019-05-11 03:10] RohanTalip opened #145 "Use a string binding for a dynamic class attribute?"
In my Vue.js 2.6.10 web app, I can write something (contrived) like this to use a string as the value to bind to the class attribute of an element:
[code]
(Assume that imageUrl is valid.)

However in Vue Native, the dynamic binding of a string to the imageClass computed property doesn't appear to work:
[code]
(Assume that imageSource is valid, and that the imageClasses computed property and styles

[2019-05-11 15:45] ndvbd commented on #95
Any solutions?

[2019-05-13 02:13] RohanTalip opened #147 "Conditional groups with v-if on <template> ?"
Hi,

Does Vue Native support Conditional Groups with `v-if` on `<template>` where `<template>` acts as an invisible wrapper? (See
https://vuejs.org/v2/guide/conditional.html#Conditional-Groups-with-v-if-on-lt-template-gt )

I see that this doesn't work correctly with Vue Native (only A shows up):
[code]

This does work (both A and B show up) but adds a View element:
[code]

[2019-05-13 12:53] neeraj-singh47 commented on #145
@RohanTalip Seems like it's working. I just checked with Text component and it's working fine. Can you verify the same with a different component?

[2019-05-13 12:53] neeraj-singh47 commented on #145
[code]

[2019-05-13 16:34] #138 closed

[2019-05-13 16:46] neeraj-singh47 commented on #147
It has been fixed by the latest vue-native-template-compiler version 0.13

[2019-05-13 16:46] #147 closed

[2019-05-13 16:56] neeraj-singh47 commented on #138
Please do upgrade the vue-native-template-complier to the latest version.

[2019-05-14 19:29] RohanTalip commented on #147
@neeraj-singh47 , thanks, but don't you also need to update the version of the vue-native-template-compiler dependency in the vue-native-scripts package?
https://github.com/GeekyAnts/vue-native-core/blob/44bdcfff47ce1f9955781d5db04bbffb90859bbd/packages/vue-native-scripts/package.json#L23

`yarn upgrade` is not upgrading the vue-native-template-compiler package (it is still at version 0.0.12)

You

[2019-05-14 19:52] RohanTalip commented on #145
This is working for me now.  I probably had a typo somewhere.  Sorry for the trouble.

[2019-05-14 19:52] #145 closed

[2019-05-15 10:58] canturkm opened #149 "vuex watch or subscribe"
Hi,

I'm a newbie. I'm writing my app with Vue-Native. I use vuex for data sharing between components. Is there a way to use vuex watch or subscribe function on vue-native? I tried both of them. However, not worked on my vue-native app. Even vue's (not vuex) watchers not worked.

Is there a way to watch a variable, or vuex state on vue-native?

I used this blog post as a reference for vuex watch a

[2019-05-15 14:17] chars1205 opened #150 "react-native 0.59 upgrade ISSUE"
We have upgraded the vue-native project version from 0.55.4 to 0.59.0
However, the following error has occurred
I would appreciate your help.

[code]

[2019-05-15 16:50] neeraj-singh47 commented on #150
@chars1205 You need to have metro.config.js file configuration similar to `https://github.com/GeekyAnts/vue-native-cli/blob/master/src/utils/metro.config.js`

[2019-05-16 01:24] chars1205 commented on #150
@neeraj-singh47
Where should the configuration of the metro.config.js file be written?
this current react-native info

    System:
      OS: macOS 10.14.4
      CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
      Memory: 277.64 MB / 16.00 GB
      Shell: 3.2.57 - /bin/bash
    Binaries:
      Node: 10.15.0 - /usr/local/bin/node
      npm: 6.8.0 - /usr/local/bin/npm
      Watchman: 4.9.0 -

[2019-05-16 05:58] savina-09 commented on #37
has anyone got success in loading svg files from local using the ReactNativeParser as used above?

[2019-05-16 09:20] neeraj-singh47 commented on #150
@chars1205 Are you using the expo version of the vue-native? And can you post the screenshot of the error?

[2019-05-16 11:06] chars1205 commented on #150
@neeraj-singh47
There was a dependency problem that required using @expo/vector-icons when using native-base.
So we fixed the error using metro-react-native-babel-preset instead of babel-preset-expo.
Thank you for your interest.

[2019-05-16 12:11] #150 closed

[2019-05-16 12:28] neeraj-singh47 commented on #149
@canturkm Vue watchers seem to be working. Can you share the code snippet?

[2019-05-16 20:14] bmbmjmdm opened #151 "Styles not working"
I followed installation instructions here
https://vue-native.io/docs/installation.html
Using the CRNA option. After installing everything (including a couple missing dependencies like `metro-config` and `vue-native-scripts`, I'm able to get the App.vue running, however none of the styles are applied.

App.vue
[code]

package.json
[code]

[2019-05-17 14:18] canturkm commented on #149
Hi,

My code is so complex, I'm gonna share related part:

There are 3 files: config.js, App.vue and Main.vue.

config.js defines the vuex store, App.vue is the main component that loads data and Main.vue first screen of my project and should wait for data loading initiated by App.vue component.

I try to show both event bus usage and Vue watcher usage.

On this case, bus works, however vue watche

[2019-05-22 16:45] aljourda opened #152 ""props" is slow"
If you use "props" to pass a boolean from the parent component to the child containing a list, the update is slow. Whereas if we use a method that modifies "data", the update is fast.

Slow :
[code]

Fast:
[code]

[2019-05-22 16:48] aljourda commented on #152
I found out that with this componant https://github.com/papsign/vue-native-quickstart/blob/master/src/components/generic/ContentFlex.vue for example

[2019-05-22 17:16] #152 closed

[2019-05-22 17:18] aljourda commented on #152
actually the bad performance is due to a large amount of components off screen (50)

[2019-05-22 19:23] aljourda commented on #150
I had same problem, I published a template compatible react native 0.59. It seems that you need this file : https://github.com/papsign/vue-native-quickstart/blob/master/metro.config.js in your project root folder. I hope it helps

[2019-05-30 04:39] AtHeartEngineer opened #153 "Vue-Native.io/market is down"
**Error 526**
Invalid SSL certificate
_____________
Browser
Working
_____________
Cloudflare
Working
_____________
vue-native.io
Host Error
_____________
**What happened?**
The origin web server does not have a valid SSL certificate.

**If you're the owner of this website:**
The SSL certificate presented by the server did not pass validation. This could indicate an expired SSL certificate or a cer

[2019-05-30 08:23] sanketsahusoft commented on #153
We are looking into this.

[2019-05-30 10:04] sanketsahusoft commented on #153
It's fixed!

[2019-05-30 10:04] #153 closed

[2019-05-31 10:05] AbidKhairyAK opened #154 "Does it support global component feature?"
Does vue native support global component feature?

i've tried this code but seems it doesn't work:

[code]

[2019-06-02 16:36] vahidalvandi opened #155 "return error in npm start vue-native-scripts"
Loading dependency graph, done.
(node:8724) UnhandledPromiseRejectionWarning: Error: Cannot find module 'vue-native-scripts'

you must add vue-native-script in dependencies
[code]

[2019-06-03 05:42] kn1cht commented on #151
@bmbmjmdm
I had the same issue and solved the problem by updating `vue-native-helper` to `0.0.11`.

[code]

[2019-06-03 12:19] giann commented on #118
Same issue here

[2019-06-03 19:22] Zacharygagnier commented on #95
I am currently on windows, I've installed all the dependencies, restarted, and I am getting this issue, unable to proceed.

[2019-06-07 03:38] RohanTalip opened #156 "v-show doesn't seem to work"
This doesn't work as expected for me:
[code]

i.e. The "Hide this" text still shows up.

Also, the code example for v-show in the Vue Native documentation actually uses `v-if`:
https://vue-native.io/docs/conditional.html#v-show

[2019-06-07 03:56] RohanTalip commented on #156
Also the documentation for `v-show` has this text: "v-show keeps the element on the View, and only adjusts the opacity to 0%, or transparent".

It might be better to toggle between `display: 'flex'` and `display: 'none'` in the style for a component,  rather than changing the opacity of the view, i.e. similar to how [v-show in Vue.js](https://vuejs.org/v2/guide/conditional.html#v-show) works.

[2019-06-10 12:22] abiodunjames opened #157 "2 way data binding does not"
This worked some 6 months ago when I first tried vue native. I ran into some weird issues now

Steps to reproduce
[code]

[code]
The link in the example above is not binded when user types in something

[2019-06-11 02:12] vienntbna opened #158 "React native library compatible"
I'm trying to use React Native Webrtc library (https://github.com/react-native-webrtc/react-native-webrtc).
I installed it, I can get the stream ( video, audio ) but at this part :
[code]
I rewrite it in Vue style, like this
`components: { RTCView },`
and this
`<RTCView v-if="stream" :streamURL="stream.toURL()"/>`
but no works. I can't make it show the video (camera). Any idea ?

[2019-06-13 02:27] apolokaklab commented on #133
Mee to

[2019-06-14 11:35] mahipalsingh7 opened #159 "Convert Reactnative Project to Vue.js"
anyone please help me how can i convert the existing ReactNative Project to Vue.js ?

[2019-06-15 15:41] rothskeller opened #160 "render-prop-fn broken"
It appears that references to arguments of a prop function are not working.  My code tracks exactly with the example on the vue-native web site:

[code]

but it results in an error:

[code]

Am I doing something wrong, or is it really broken?  Help would be much appreciated.

[2019-06-20 02:53] tronze opened #161 "ImageStore deprecated"
[code]

[2019-06-23 00:28] tjimenez commented on #155
Same for me!

[2019-06-24 13:01] farshidrezaei commented on #109
it's worked.

[2019-07-01 17:48] publicaccount365 opened #162 "Has the project stopped?"
Hi
Has the project stopped?
please update because this is great project.

[2019-07-01 17:56] LiveDuo commented on #162
It would be interesting to know if there are any active contributors to the
projects?

On Mon, 1 Jul 2019 at 20:48, publicaccount365 <notifications@github.com>
wrote:

[2019-07-04 12:44] GaraGentor commented on #162
I also hope, that this project hasn't stopped.

[2019-07-04 14:10] lunkkun commented on #95
This is still a problem. Tested on Windows 10.

[2019-07-05 00:24] madhavarshney commented on #162
There's also [NativeScript-Vue](https://nativescript-vue.org/), which serves a similar purpose.

[2019-07-08 04:45] sanketsahusoft commented on #162
We are continuing to maintain Vue Native. You will see a lot of updates in the coming days.

[2019-07-08 04:45] #162 closed

[2019-07-08 08:55] GaraGentor opened #163 "Huge memory leaks with vue components"
What I have done to create the memory leak.

I have set up a fresh vue-native project with the vue-native cli. I created a v-for on a vue component like in the example from vue-native.io to display a todo list. My Project contains 2 buttons to fill and clear an array of objects. When I keep repeating the fill and clear process, then the memory is increasing but not releasing. The app will crash af

[2019-07-08 11:42] drsaint23 commented on #161
Getting exact error, started to show up when I've upgraded to Expo 33. Since I'm not using ImageStore anywhere in the code,  I think it might be related to AsyncStorage

[2019-07-08 14:01] tronze commented on #161
Yes, I also think it is related to AsyncStorage. Since I'm not sure where does ImageStore is used in the system, I'm looking at the code and trying to update before it is actually deprecated

[2019-07-08 15:07] qodehub-nanadjei commented on #95
Am also having the same issue.

[2019-07-08 18:40] RohanTalip opened #164 "Vue Native doesn't strip (leading) whitespace in multi-line Text elements"
Steps to reproduce:

- `vue-native init VueNativeText --no-crna`
- `cd VueNativeText`
- Edit App.vue to add a text element with the contents split over multiple lines, as seen below.
- `react-native run-ios`

Here are the contents of my App.vue :
[code]

Here is a screenshot of what appears in the app:
<img width="371" alt="Screen Shot 2019-07-08 at 11 32 21 AM" src="https://user-images.githubuser

[2019-07-08 22:33] RohanTalip commented on #164
With the same change in PR #165 made locally in VueNativeText/node_modules/vue-native-template-compiler/build.js I get this in my app now, using the same template as before (and after clearing the metro cache) :

<img width="361" alt="Screen Shot 2019-07-08 at 3 30 25 PM" src="https://user-images.githubusercontent.com/7445140/60846853-985de480-a195-11e9-9686-b278832cba61.png">

[2019-07-08 23:03] RohanTalip opened #166 "componentWillMount, componentWillReceiveProps and componentWillUpdate are deprecated in React 16.8.6, React Native 0.60.0"
In Xcode with Vue Native and React 16.8.6 / React Native 0.60.0 (i.e. up-to-date versions), I see the following warnings:
[code]

[code]

[code]

[2019-07-08 23:17] RohanTalip commented on #166
It looks like this was reported last year in the NativeBase repository with React Native v0.54.0 : https://github.com/GeekyAnts/NativeBase/issues/1665

So, I'm not sure of the priority 😃

[2019-07-08 23:28] RohanTalip commented on #164
This issue is particularly important if you use an automatic formatter like [Prettier](https://prettier.io/) on long text elements, i.e. it will wrap them with leading whitespace, which will show up in your app.

[2019-07-09 01:11] qodehub-nanadjei commented on #161
Having the same error.

[2019-07-09 11:48] ridvanaltun commented on #133
I have the same problem too. Is this normal?

[2019-07-10 22:06] tim92109 commented on #161
Same here... I'll add that it throws with every code change (build).  Very distracting when trying to debug.

[2019-07-11 19:19] tronze commented on #161
Yes.. I think that Vue Native is using deprecated libraries which means even I don't use ImageStore in my app, it will throw this warning message all the time because the deprecated libraries will be included in app building process. (Found it happening when Vue Native is transforming into React Native in app building process.)

I think the solution will be updating the deprecated library, but I'm

[2019-07-13 18:53] vahidalvandi commented on #163
Oh yes

[2019-07-15 13:21] VanLaerAshley commented on #118
Same issue

[2019-07-15 13:24] VanLaerAshley commented on #118
Anyone solved this issue?

[2019-07-17 07:50] SaraTV9 commented on #118
@VanLaerAshley I used a trick. It seems that vus-native Animated does not work on nested elements. You need to animate every single item. It is long and painful but it works for most of the case!

Code does not work:
[code]

Change it like this and will work:
[code]

Not good practice and sometimes needs adjustments, but worked for me.

[2019-07-18 23:16] vahidalvandi commented on #109
i fixed it in ubunto with set permission in npm global

[code]

[2019-07-21 15:24] smp4488 opened #169 "npm run web fails"
I'm trying to run my app using the web variant. I'm getting this error when the app spins up. Ive tried to look through the expo-cli package to see if I could find anything and came up empty. I'm guessing that i'm missing a config somewhere.

[code]
Here is how I setup my app
[code]

[2019-07-21 17:12] icarter09 commented on #161
I know it's not a good long term fix, but I commented out the warning message. It can be found in `node_modules/react-native/Libraries/react-native/react-native-implementation.js` lines 52-60. I commented out the `warnOnce()` which is where the error message is being returned.
Like I said, not a good long term fix, but helped me to continue development and debugging. I'm currently looking into a b

[2019-07-22 06:57] devarashetty opened #170 "Unable to setup Vuenative with react-native version (0.60.0)"
I am facing the error
`unable to resolve module App.vue`  under `index.js` file even though I can see the import being done properly .

I checkted `vueTransformPlugin.js`  file where we are trying to import `metro/src/transformer` which is not available under npmmodule `metro`.

[2019-07-22 17:41] tim92109 commented on #161
That makes me happy for now - at least it won't get in the way of debugging.

[2019-07-23 07:27] DanielFloris commented on #169
I got similar output from a expo/react project when trying to spin up a web variant to. File that failed to compile was at /c/Users/{me}/sites/{project-name}/node_modules/expo/AppEntry.js

[2019-07-23 10:41] raduungurean commented on #169
npm install --global expo-cli@2.21.2 / yarn global add expo-cli@2.21.2 for now

It does not work with expo-cli@3

[2019-07-23 13:53] smp4488 commented on #169
Thanks for the feedback. I downgraded and now i'm getting this error.

[code]

[2019-07-24 15:22] icarter09 commented on #161
I put up a PR for this issue. Please let me know if the PR is wrong/incorrect/needs updating and I'll make the changes accordingly or close out the PR if necessary. I tested the PR out and it addresses the issue.

[2019-07-24 22:07] VanLaerAshley commented on #117
I have the same issue by upgrading to expo version 33.0.0

[2019-07-24 22:39] VanLaerAshley commented on #117
Anyone solved this issue?

[2019-07-25 00:55] DanielFloris commented on #169
I got past this error by setting up webpack, I'm sorry I didn't document what I did exactly, but hopefully this gets you moving in the right direction.

[2019-07-25 05:06] mislam commented on #53
64-bit is not supported on Expo project. We need this this immediately for our Vue Native project, because Google Play Store will not receive any update from August 2019 that doesn't support 64-bit. So this is super critical.
See: https://blog.expo.io/64-bit-support-and-android-app-bundles-fe0c6a28669

[2019-07-25 19:20] tmaly1980 opened #172 "Export project to pure React Native"
Is there a way to convert a .vue file component into the React Native .js version, and save that on disk? I'd love to use this framework but am concerned if it eventually loses support then I'm stuck rewriting all my vue components by hand into react native equivalents. I'd love some sort of script that can do that for me (ie convert the whole project back to RN only code).

[2019-07-26 02:41] icarter09 commented on #132
@gBragamonte are you still experiencing this issue?

[2019-07-26 02:44] icarter09 commented on #133
@ridvanaltun does this happen every time for .vue files?

[2019-07-26 02:45] icarter09 commented on #96
@Peretz30 was this issue ever resolved?

[2019-07-26 03:03] icarter09 commented on #149
@canturkm was this issue ever solved?

[2019-07-26 03:04] icarter09 commented on #151
@bmbmjmdm did @kn1cht's comment fix your issue?

[2019-07-26 03:05] icarter09 commented on #154
@AbidKhairyAK were you able to figure this issue out or solve it?

[2019-07-26 03:05] icarter09 commented on #155
@vahidalvandi are you still experiencing this issue?

[2019-07-26 03:13] icarter09 commented on #156
@RohanTalip confirmed that this is an issue. Looking into applying a fix like you suggested and also looking into the test cases for v-show.

[2019-07-26 03:15] icarter09 commented on #160
@rothskeller did you have any luck in feedback on this issue or find a solution?

[2019-07-26 03:20] terrydemco commented on #133
Yes

[2019-07-26 05:25] tmaly1980 commented on #145
I've been having trouble with this, specifically for view components. Not able to get it to work!

[2019-07-26 05:29] tmaly1980 commented on #145
OK Seems my problem was that class can only be set to a single class, not a string of multiple classes. Seems like a limitation, and I don't see why it can't concatenate the computed styles together.

[2019-07-26 05:36] tmaly1980 opened #173 "Class limitations"
Seems that CSS classes can only be set to a single class, not a string of multiple classes.

Seems like a limitation, and I don't see why it can't concatenate the computed styles together.

ie:

`class="one two"
`
doesn't work. But in react native world, it's totally possible to do something like:

`style={[styles.one, styles.two]}
`

Also seems that I cannot split/share class definitions, either,

[2019-07-26 13:18] AbidKhairyAK commented on #154
NO,
I have not been able to solve this problem. until now, I still import custom components on every file that needs it

[2019-07-26 13:21] AbidKhairyAK commented on #154
@icarter09 NO,
I have not been able to solve this problem. until now, I still import custom components on every file that needs it

[2019-07-26 16:32] rothskeller commented on #160
@icarter09 I did not find a solution, but I worked around the problem, so it is no longer blocking me.

[2019-07-26 17:36] icarter09 commented on #154
@AbidKhairyAK thanks for heads up. I'll try to recreate the issue and dig into it.

[2019-07-26 18:45] tmaly1980 opened #174 "How to access CSS classes in style tag?"
Is there a way to declare a class within the <style> block but reference it within the template as a value for a style attribute? For example:

[code]

I like being able to declare plain CSS but I sometimes need to combine multiple styles depending on the content. I'd much rather keep to declaring CSS within the style block rather than having to write JS styling.

Is the parsed stylesheet availabl

[2019-07-26 19:29] RohanTalip commented on #145
@tmaly1980, multiple classes in the class attribute work for me.

Splitting of class definitions (as you explained it above) doesn't work for me, but so far that hasn't been a problem.

[2019-07-26 19:30] tmaly1980 commented on #145
@RohanTalip Can you provide an example?

[2019-07-26 19:31] RohanTalip commented on #173
[Repeating myself from issue #145]

@tmaly1980, multiple classes in the class attribute work for me.

Splitting of class definitions (as you explained it above) doesn't work for me, but so far that hasn't been a problem.

[2019-07-26 19:50] RohanTalip commented on #173
An example:
[code]

The result:
<img width="326" alt="Screen Shot 2019-07-26 at 12 48 36 PM" src="https://user-images.githubusercontent.com/7445140/61977634-d0da2c80-afa3-11e9-8983-c9fea2bb3ae0.png">

[2019-07-26 19:50] RohanTalip commented on #145
@tmaly1980, done, in issue #173 .

[2019-07-26 20:58] icarter09 commented on #160
@rothskeller glad to hear it. Do you think this issue can be closed or should be left open?

[2019-07-26 21:10] rothskeller commented on #160
Probably best to close it, without prejudice, until/unless someone else hits it.  I'm no longer in a position to help test a fix.

[2019-07-26 21:10] #160 closed

[2019-07-26 21:19] icarter09 commented on #158
@vienntbna are you still experiencing this issue?

[2019-07-26 21:19] icarter09 commented on #159
@mahipalsingh7 were you able to come up with a solution?

[2019-07-26 21:20] icarter09 commented on #122
@317482454 were you able to come up with a solution?

[2019-07-26 23:18] 317482454 commented on #122
Sorry, I have switched the frame

[2019-07-27 01:38] icarter09 commented on #122
@317482454 no problem. Do you think this ticket should be closed?

[2019-07-27 01:41] icarter09 commented on #166
@RohanTalip are you still seeing the warning messages? The only one I have come across is for 'ImageStore'. I believe the reason for the deprecation is React replacing these functions with the new Hooks.

[2019-07-27 03:15] icarter09 commented on #154
@AbidKhairyAK I don't believe this is supported. `Vue.component` is not being picked up on as valid syntax when I tested it. I would put this down as a feature request or enhancement.

@sanketsahusoft can you add the 'Enhancement' label or 'Feature Request' label to this ticket? Thanks.

[2019-07-27 03:21] icarter09 commented on #133
@terrydemco I believe I'm seeing this as well. Is this an issue or how it's supposed to function? I feel like this is intended functionality.

[2019-07-27 03:23] icarter09 commented on #118
@Magnai1030 can this issue be closed? After reading over the comments, sounds like you found a work-around/solution. Is that correct?

[2019-07-27 03:24] icarter09 commented on #169
@smp4488 are you still experiencing this issue?

[2019-07-27 03:25] icarter09 commented on #170
@devarashetty can you list the steps for how to recreate this issue? Thanks.

[2019-07-27 03:26] icarter09 commented on #172
@tmaly1980 this is a great idea. I'm wondering if this should just be created as a completely separate project/script.

[2019-07-27 03:28] icarter09 commented on #157
@abiodunjames are you still having this issue?

[2019-07-27 03:29] terrydemco commented on #133
It doesn’t happen in react native, only vue native, it is not the intended functionality. Fire up react native and check it out.

[2019-07-27 03:35] icarter09 commented on #133
@terrydemco I'll fire up a react native project tomorrow and will check it out. Thanks for the heads up.

[2019-07-27 04:58] smp4488 commented on #169
@icarter09 I blew away my test app, downgraded expo-cli and re ran vue-native init. After that I renamed app.json to App.json. Here is the error i'm getting now.

[code]

[2019-07-27 15:12] canturkm commented on #149
Hi,

I solved my problem using eventbus. However, there is no progress with vuex.

I tried both watch and subscribe, and none of them are working on my case.

If you want to close the issue, I think you can close.

[2019-07-27 17:59] icarter09 commented on #149
@canturkm thanks for the update. I'm not able to close it out, but I believe you can since you are the author of the issue. Thanks.

[2019-07-27 18:15] #149 closed

[2019-07-28 05:10] RohanTalip commented on #157
@abiodunjames, I don't think NativeBase supports v-model.  It doesn't show up in the code:
https://github.com/GeekyAnts/NativeBase/search?q=v-model&unscoped_q=v-model

The TextInput component in Vue Native does support v-model though:
https://vue-native.io/docs/basic-components.html#TextInput

... and it definitely shows up in the code:
https://github.com/GeekyAnts/vue-native-core/search?q=v-model

[2019-07-29 08:05] Peretz30 commented on #96
@icarter09 nope, this project look like abandoned

[2019-07-29 17:45] icarter09 commented on #96
@Peretz30 I believe that they are getting ready to push out a new release here in the coming days. Were you able to come up with a work around?

[2019-07-30 06:29] Peretz30 commented on #96
@icarter09 No, I switched back to React Native

[2019-07-30 12:05] icarter09 commented on #96
@Peretz30 totally understand. Do you mind closing out this ticket? Thanks.

[2019-07-30 12:21] Peretz30 commented on #96
@icarter09 I am sorry, but why? This issue is not resolved, there are no new versions. So, then contributors will look in issues tab, they can see this open issue and fix it in future releases, but if issue would be closed, they can miss it.

[2019-07-30 12:41] icarter09 commented on #96
My bad. I should have asked if you felt this could be closed or not.

[2019-07-31 21:08] mmustafau commented on #11
sad, very very sad

[2019-08-02 14:47] RayburnTrading opened #177 "Camera error - "autoFocus failed""
Whenever I try to open the camera I get an error 'autoFocus failed' every time?

Any ideas?

[code]

[code]

Package.json:

[code]

[2019-08-02 15:04] #161 closed

[2019-08-02 15:04] #166 closed

[2019-08-02 20:34] RohanTalip commented on #166
@icarter09, I was still seeing the warning messages this morning.  After upgrading vue-native-{core,helper,scripts} to version 0.1.0, I am no longer seeing these warning messages for `ReactVueComponent`.

Thanks, @gauravprwl14!

[2019-08-04 22:11] RohanTalip opened #179 "tsConsumer.originalPositionFor is not a function"
Hi,

I recently upgraded both Vue Native and React Native recently from these versions:
[code]
... to these versions:
[code]

I have both Live Reload and Hot Reloading enabled in the React Native developer menu.

When I edit a .vue file, I get this error in the terminal window that the Metro Bundler is running in:
[code]

This error also shows up in the iPhone Simulator on my Mac.  If I upgrade ei

[2019-08-05 07:08] RishabhKarnad commented on #179
Hi @RohanTalip.

I just created a new Vue Native project with the latest CLI and used `react-native upgrade` to upgrade to `react-native@0.60.4`. I can confirm that I am not facing this issue.

Are you facing this issue only with iOS?

`source-map@0.7.3` is a dependency of `vue-native-scripts@0.1.0`. There is a possibility that it was not correctly installed when you upgraded. I would recommend th

[2019-08-05 12:44] RohanTalip commented on #179
@RishabhKarnad, my existing project did pull in `source-map@0.7.3` as a dependency of `vue-native-scripts@0.1.0`.

Yes, but only because I'm not targeting Android with my Vue Native / React Native app (at present).

### Reproducing the problem
I made sure that `yarn global list` showed `vue-native-cli@0.1.0`.  I created a new Vue Native project and also ran `react-native upgrade` to upgrade to `re

[2019-08-05 12:48] zyxel648 opened #182 "ENOENT: no such file or directory, chmod '...\node_modules\vue-native-scripts\src\bin\vue-native-script.js'"
Trying to Install last version 0.1.0
`npm install vue-native-scripts@0.1.0`

but get following error in console:
[code]
and package did not installed

I suppose, this is cause in package.json wrong path to vue-native-script.js file:
[code]
It should be:
[code]

[2019-08-05 13:10] RohanTalip commented on #179
Actually, I was just able to reproduce this issue in a newly created Vue Native project without upgrading to `react-native@0.60.4`.  i.e. `yarn list react-native` shows `react-native@0.59.10`.

I ran `react-native run-ios` and I again enabled both Live Reload and Hot Reloading in the React Native developer menu and added the button and method as shown above and ... I get this result:
<img width="4

[2019-08-05 13:33] zyxel648 opened #183 "Unable to resolve "../../App" from "node_modules\expo\AppEntry.js""
In console, I just run the following command:
`vue-native init <project name>`
And then, delete App.js file (App.vue file still exists)

[code]
package.json

[code]
Beacause I have problems with installation of vue-native-scripts v.0.1.0  (#182), I added them manually. vue-native-scripts@0.0.16 did not work correncly with RN v.0.59 (expo sdk 34)

In stack trace I see:
[code]

But why it's don't tr

[2019-08-05 20:06] leitom commented on #179
I can confirm having these issues as well.
It appears when start using <script></script> in the .vue files.

[2019-08-06 06:29] RishabhKarnad commented on #179
The problem occurs because of a change in `source-map` in which the `SourceMapConsumer` constructor was made asynchronous and returns a Promise. We will be releasing a fix for this soon.

[2019-08-06 06:45] RohanTalip commented on #179
Thanks @RishabhKarnad!

[2019-08-06 12:20] Shrekie commented on #183
Same.

With yarn I don't have the vue-native-scripts installation issue.

But I'm also getting Unable to resolve "../../App" from "node_modules/expo/AppEntry.js"
Failed building JavaScript bundle.

This is on a totally fresh cli init project

[2019-08-06 12:49] ChildishForces commented on #183
Same here, I'm guessing it may have something to do with the new version of `vue-native-cli` that went live 4 days ago.

[2019-08-06 14:06] zyxel648 commented on #183
Actually no. I'm already have `vue-native-cli@0.1.0` and `vue-native-core@0.1.0` and I'm trying to use previous versions (0.0.7 and 0.0.8) - get the same error. Also try to use expo sdk v. 33 - same error. It works only on expo sdk 32, but native-base don't. Maybe this error came from expo and metro bundler... who knows. I can't debug js code :(
Finally, I decide to not use vue-native and write wi

[2019-08-06 14:20] ChildishForces commented on #183
It's pretty bad that this package is basically unusable then. There's no way to init a new project.

[2019-08-06 15:44] tjimenez commented on #183
Same for me! :(

[2019-08-07 01:44] drmmarsunited commented on #183
Also hitting this exact issue when trying to follow `Getting Started` instructions on the Vue native site

[2019-08-07 05:09] AnkurDahama commented on #183
Same problem with me while following 'Getting started' on vue native site. Tried tweaking some versions but still no luck.

[2019-08-07 05:27] Onael23 commented on #183
`import App from  '../../App.vue'` I tried this and it worked. You have to change the path in the AppEntry.js.

[2019-08-07 05:35] AnkurDahama commented on #183
Still doesn't work. now getting Unable to resolve "../../App.vue" from "node_modules/expo/AppEntry.js"

[2019-08-07 05:42] Onael23 commented on #183
Okay I see. Send the tree view of your project.

[2019-08-07 05:51] AnkurDahama commented on #183
<img width="565" alt="Screenshot 2019-08-07 at 8 50 33" src="https://user-images.githubusercontent.com/25076812/62597989-72d90d80-b8f0-11e9-846f-b2293286d433.png">
this is the root folder

[2019-08-07 05:52] AnkurDahama commented on #183
<img width="999" alt="Screenshot 2019-08-07 at 8 51 39" src="https://user-images.githubusercontent.com/25076812/62598024-99974400-b8f0-11e9-8f14-ffd02a694765.png">
this is my AppEntry.js

[2019-08-07 06:18] malisaroj commented on #183
But I'm getting Cannot find file: 'App.json' does not match the corresponding name on disk: '.\app.json'.

[2019-08-07 11:36] anoop-ananthan commented on #155
Same issue for me...
Tried : `npm install vue-native-scripts --save-dev`
Result:
[code]

[2019-08-07 18:40] bthomas16 commented on #183
This began happening to me when I was forced to upgrade Node.js to be compatable with a new Expo version. I had a working project, but after upgrading my Node.js version for Expo compatibility I began seeing this error.

I cleared my entire Node.js cache and got the latest of every dependency. I followed the Vue-native "getting started" documentation. And this error occurs when using command "npm

[2019-08-08 10:30] ChildishForces commented on #183
Any update?

[2019-08-08 10:36] zyxel648 commented on #183
Same error. Even with latest version of expo-cli (3.0.9)

[2019-08-08 10:37] ChildishForces commented on #183
This is a huge error. We can't even init a new project, so the package is essentially unusable at this version.

[2019-08-08 13:17] damferreyra commented on #183
Hello there, I don't know if this gonna be helpful, but the latest functional configuration for me is:

package.json:
{
  "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz",
  "expo": "^32.0.0",
  "react": "16.5.0"
}

app.json:
"sdkVersion": "32.0.0",

Reference SDK 32:
https://docs.expo.io/versions/latest/workflow/upgrading-expo-sdk-walkthrough/

With that configurat

[2019-08-08 13:29] Shrekie commented on #183
Guys, i managed to get newest vue native to work.

In app.json add
"sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"]
Inside
"packagerOpts"

![image](https://user-images.githubusercontent.com/16154821/62707197-42c56380-b9f1-11e9-8c6c-a99dd71b0a94.png)

[2019-08-08 13:42] ChildishForces commented on #183
Hero. Worked for me.

[2019-08-08 13:47] zyxel648 commented on #183
In app.json add
"sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"]
Inside
"packagerOpts"

As mentioned by @Shrekie. Thanks 👍

[2019-08-08 13:49] zyxel648 commented on #182
Use `yarn install` to solve this issue

[2019-08-08 13:50] NovusTheory commented on #183
I probably would still keep this open as this doesn't fix vue-native itself

[2019-08-08 15:27] tjimenez commented on #183
I've tried for some weeks and I can't even start the clean project.

The last try was adding `"sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"]` to app.json file and returns the following error. (clean install)

[2019-08-08 15:42] tjimenez commented on #183
**UPDATE**: Mixing the solution of @damferreyra and @zyxel648 made it work.  Thanks guys.

[2019-08-08 17:16] mislam commented on #117
This issue is happening again from vue-native-core **v0.1.0** with **sdk34**

[2019-08-09 07:18] Syltis commented on #183
The current latest versions of react and vue worked for me when using the solution @zyxel648 proposed. Great stuff, been stuck on this for a while.

[2019-08-09 10:41] Syltis commented on #183
I was wrong. This worked for running the app.vue file as project root, but if I add any kind of script to the component I get this error

`App.vue: tsConsumer.originalPositionFor is not a function`
`Failed building JavaScript bundle.`

No other error-messages are displayed. What does this even mean?

[2019-08-09 10:47] damferreyra commented on #183
@Syltis
I used to have the same error
, using  "vue-native-scripts": "0.0.16" (instead of 0.1.0) resolve that issue in my case (with the @zyxel648 solution and the last expo sdk: 34 )

So far everything seems to work ok.

[2019-08-09 11:28] anoop-ananthan commented on #183
We were not able to use this for our new project because I was not able to run the project

[2019-08-09 11:43] ChildishForces commented on #183
Seems super bad for a major version release.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Anoop.P.A <notifications@github.com>
Sent: Friday, August 9, 2019 1:28:13 PM
To: GeekyAnts/vue-native-core <vue-native-core@noreply.github.com>
Cc: Chris Schofield <chris.schofield@jaystack.com>; Comment <comment@noreply.github.com>
Subject: Re: [GeekyAnts/vue-native-core

[2019-08-09 12:36] Syltis commented on #183
@damferreyra
That actually worked. I am now able to script in App.vue after using the @zyxel648 solution and downgrading 'vue-native-scripts' to 0.0.16. Great stuff, thanks.

[2019-08-09 16:11] RishabhKarnad commented on #183
@zyxel648 @ChildishForces @Syltis I am unable to reproduce the issue on my end. Are you using the latest version of Expo client? I have tried clearing my cache, resetting the device data, and tested on both iOS and Android.

@Syltis the `tsConsumer.originalPositionFor is not a function` issue is known (#175). It will be fixed with v0.1.1 that should be out within a few hours.

[2019-08-09 16:14] ChildishForces commented on #183
Latest expo-cli, latest vue-native-cli, latest vue-native-core. Running this on Mac, though don’t know why that’d make a difference.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rishabh Karnad <notifications@github.com>
Sent: Friday, August 9, 2019 6:11:33 PM
To: GeekyAnts/vue-native-core <vue-native-core@noreply.github.com>
Cc: Chris Schofield <chris.schofiel

[2019-08-09 19:34] RishabhKarnad commented on #179
v0.1.1 has just been released! This issue should be fixed if you upgrade to this version

[2019-08-09 19:35] #179 closed

[2019-08-10 16:26] alighasemzadeh opened #188 "Can we use other UI framework?"
Hello,
Can I use other UI framework to build application?

[2019-08-10 16:55] RohanTalip commented on #188
Hi @alighasemzadeh, yes, you can.  I'm currently using a mix of the [Vue Native basic components](https://vue-native.io/docs/basic-components.html) (which are really just wrappers around [React Native components](https://facebook.github.io/react-native/docs/components-and-apis.html)), [Native Base](https://nativebase.io/) components, components from [React Native Elements](https://react-native-tra

[2019-08-10 19:01] drmmarsunited commented on #183
After manually adding "vue-native-scripts" pinned to my package.json file at version 0.0.16, I am up and running.  Otherwise receiving issues about MetroBundler.

[2019-08-11 03:09] alighasemzadeh commented on #188
@RohanTalip
Thanke for your answer.
I want to use Vuetify for my UI and for device api use vue-native.
Can you guide me how to do this job?

[2019-08-11 11:51] RohanTalip commented on #188
@alighasemzadeh, you're welcome.

I'm assuming that you want to use Vuetify for your website / web app.  I don't see any problem with that.  I suspect you will need to have 2 source trees for each app (although you will likely have similar code shared or copied between them).

I am not using expo, but there appear to be other people using it with Vue Native.

You could start by looking at the [doc

[2019-08-11 14:53] sanketsahusoft commented on #188
You're doing a great job @RohanTalip. Loads of love ❤️ from the Vue Native Team at GeekyAnts

[2019-08-12 07:43] Syltis commented on #188
Hi! I'm trying to use [Material Design](https://vuematerial.io/getting-started) with Vue Native, but I' getting an error when trying to import and Vue.use(MdMenu):

`Unable to resolve module 'vue' from ../source/repos/vuenativetester/node-modules/vue-material/dist/components/MdMenu/index.js' Module 'vue' does not exist in the Haste module map
`

Any experience on this?

[2019-08-12 12:03] VanLaerAshley commented on #117
Even when creating a new project from scratch, this error occurs in sdk33 and 34

[2019-08-12 12:26] VanLaerAshley commented on #117
I managed to get newest vue native to work.

In app.json add
"sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"]
Inside
"packagerOpts"
`    "packagerOpts": {
      "sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"],
      "config": "metro.config.js"
    }`

[2019-08-12 14:00] XavierOlland commented on #182
"It is advised not to mix package managers in order to avoid resolution inconsistencies caused by unsynchronized lock files."

I'm sorry but "install with yarn" is not an answer when all the docs point to npm.

[2019-08-12 14:59] zyxel648 commented on #182
Ok. But I'm not owner of package and this is only my solution.
Reopen issue, maybe someday it will by fixed 🤷‍♂️

[2019-08-12 15:31] RohanTalip commented on #188
Hi @Syltis,

First of all, the [Vue Material](https://vuematerial.io/) project that you linked to provides web UI components, which won't make sense in a Vue Native / React Native mobile development environment (unless you're using the web UI components in a [WebView](https://github.com/react-native-community/react-native-webview)).

Secondly, Vue Native started with a Vue.js core but modified it

[2019-08-12 15:48] infnetdanpro commented on #117
Same problem, sdk 34:
ERROR Unable to resolve "../../App" from "node_modules/expo/AppEntry.js"
ERROR Building JavaScript bundle: error
INFO Building JavaScript bundle: 0%

[2019-08-13 07:35] XavierOlland commented on #182
Yes that's what I meant, It need a proper fix and shouldn't be closed

[2019-08-13 07:43] RishabhKarnad commented on #183
This is an Expo bug. The workaround mentioned by @Shrekie should work here. Expo seems to be ignoring some of the metro config `resolver` options.

The relevant Expo issues can be found here:
- https://github.com/expo/expo-cli/issues/875
- https://github.com/expo/expo-cli/issues/191

Until those issues are resolved, it seems Expo users will have to use the workaround and modify their `app.json`. I

[2019-08-13 07:45] RishabhKarnad commented on #183
Use this until the Expo bug is fixed.

[2019-08-13 07:53] RishabhKarnad opened #189 "Update README.md to describe required changes in app.json for Expo users"
Certain versions of Expo ignore the `sourceExts` property in `metro.config.js`, which causes a crash described here:

https://github.com/GeekyAnts/vue-native-core/issues/183

Update the README.md to describe the required changes.

[2019-08-13 07:58] #183 closed

[2019-08-13 14:03] alighasemzadeh commented on #188
@RohanTalip
Hello,
It looks we can not use web UI for native environment.

[2019-08-13 14:53] TranVanThaiSon commented on #182
and end what solve that?

[2019-08-13 15:18] TranVanThaiSon commented on #182
This is my solve: add code in package.js
` "devDependencies": {
    "@babel/core": "7.5.5",
    "@babel/runtime": "7.5.5",
    "babel-jest": "24.8.0",
    "jest": "24.8.0",
    "metro-react-native-babel-preset": "0.56.0",
    "react-test-renderer": "16.8.3",
    **### "vue-native-scripts": "0.0.16"**
  },`

[2019-08-13 17:30] ThePJMP commented on #179
@RishabhKarnad thanks for your fast answer. I'll test the new version.

[2019-08-13 20:23] arrie1992 commented on #117
Thank you, this solved it :)

[2019-08-14 00:49] TranVanThaiSon commented on #117
Thank @6ea VanLaerAshley

[2019-08-14 06:21] envisean opened #190 "Issues using render-prop attribute"
In my files that are currently using similar patterns to `<refresh-control render-prop="refreshControl" ...>` are causing issues from the js bundle from being properly pieced together.

[2019-08-14 07:37] RishabhKarnad opened #191 "npm install fails with vue-native-scripts ^0.1.0"
`npm install` fails when trying to install dependencies in a Vue Native project.

This bug does not affect initial setup with Vue Native CLI (`vue-native init <project_name>`)
This does not happen when using `yarn`.

#### Steps to reproduce

1. Ensure `vue-native-scripts` 0.1.0 or 0.1.1 is a (dev-)dependency
2. In the Vue Native project, remove the `node_modules` directory
3. Run `npm install`

##

[2019-08-14 08:13] envisean commented on #182
I believe @RishabhKarnad has just patched it and will be releasing a fix soon. Check https://github.com/GeekyAnts/vue-native-core/issues/191

[2019-08-14 10:40] Wrufesh commented on #183
Simply adding sourceExts in packagerOpts doesnot solve the issue

[2019-08-14 13:12] #182 closed

[2019-08-14 13:12] #191 closed

[2019-08-14 17:23] RohanTalip commented on #164
@sanketsahusoft , @gauravprwl14 , @RishabhKarnad : any opinions on my pull request #165 ?

[2019-08-14 18:57] rowanfuchs opened #194 ""Unable to resolve "../../App" from "node_modules\expo\AppEntry.js"""
This issue remains after a regular Vue installation where i followed the docs

[2019-08-15 18:38] ThePJMP opened #195 "Bundling failed: ReferenceError: ReactNativeRenderGenerator is not defined"
After upgrading vue-native-core (from 0.0.8 to 0.1.2) & react-native version (from 0.55.4 to 0.59.8) bunding failed with following error:

Bundling failed: ReferenceError: ReactNativeRenderGenerator is not defined

Compiling is failing on this line
https://github.com/GeekyAnts/vue-native-core/blob/b72b8ca0b184a3ce4caa7dc561a8ac659bae8b6a/src/compiler/parser/index.js#L552

After manually changing R

[2019-08-15 22:17] mouadhkaabachi commented on #112
have you managed to solve this problem please?
I have the same error
`package.json` :

[code]
`App.vue`  :
[code]

and the error :

[code]

[2019-08-16 01:16] mouadhkaabachi opened #196 "TypeError: undefined is not an object (evaluating 'c.name') when using Maps"
I tried to use Maps , with a simple project created with Crna and I've got those errors:
[code]

package.json:
[code]
app.json:
[code]
App.Vue:
[code]

[2019-08-16 10:00] sanketsahusoft commented on #164
Let us check this one. If all is well, we will merge it.

[2019-08-17 06:54] jgiovanni commented on #195
I came across this same issue, and resolved it the same way, instead I replaced _.union with
[code]

[2019-08-19 07:03] anoop-ananthan commented on #194
@rowanfuchs please try after updating vue-native
[code]
Works fine for me. They have fixed it.

[2019-08-19 07:11] RishabhKarnad commented on #194
@rowanfuchs @anoop-ananthan It hasn't exactly been fixed. The issue is caused by newer versions of Expo, which ignores the `sourceExts` in `metro.config.js`. You'll need to add `sourceExts` with the `vue` extension in `app.json` of your newly generated project as mentioned in #183

We still haven't been able to update the documentation about this since we've been a little tied up. You are welcome

[2019-08-20 11:42] RishabhKarnad commented on #163
@GaraGentor This is what I have found:
- The `$destroy` implementation in `core/instance/index.js` is a no-op. It seems the author of `react-vue` did this because they didn't want the method to do anything since the memory management was to be handled by React
- There is no code to remove child Vue instances from parent Vue instances. This would normally have been done by `$destroy`

As a fix, I'v

[2019-08-20 13:22] RohanTalip commented on #163
Well done on the code archaeology @RishabhKarnad!

[2019-08-20 22:38] gillmoreno commented on #117
Solved it for me too!

[2019-08-22 14:31] RishabhKarnad commented on #133
In Vue Native, all modules (whether JS or Vue) are loaded by Metro after certain transformations are applied. The transformations include stuff that allows HMR to work. In the default configuration, this is done in the `vueTransformPlugin.js` file, which uses different transformers for different file types.

JS files use `metro-react-native-babel-transformer` which is configured for HMR. `vue-nati

[2019-08-23 10:21] Nithinshetty1 commented on #169
Anybody have solution for this, i am facing same issu like@smp4488

[2019-08-23 14:18] lunkkun commented on #95
Still not working for me on Windows 10. Please reopen this issue.

Tested with:
npm@6.11.2
expo-cli@3.0.10
vue-native-cli@0.1.0

[2019-08-23 15:18] #163 closed

[2019-08-23 15:18] #164 closed

[2019-08-30 14:33] melvinchng commented on #170
I am also facing the same issue, but with React Native 0.60.5

`unable to resolve module App.vue` under `index.js`

I followed the steps here: https://vue-native.io/docs/installation.html#Setup-with-React-Native

[2019-08-31 04:34] melvinchng commented on #170
I faced the same issue. When creating a new project, I follow this documentation: https://vue-native.io/docs/installation.html#Setup-with-React-Native

I skipped step 3 and follow the instructions here: https://www.npmjs.com/package/vue-native-scripts

[2019-09-04 08:44] s3bul opened #202 "Error init projekt in docker container: no such file or directory, open 'app.json'"
I try install app in docker container, but i got error:
[code]
I run this commands:

- `docker run -ti --rm node:10.16-alpine sh`
- `yarn global add react-native-cli expo-cli vue-native-cli`
- `mkdir ~/work && cd ~/work && vue-native init test`
Next after set name and use yarn to install, i got the error.

Any tips?

[2019-09-04 21:26] s3bul commented on #194
I have this problem a few days ago, but after i add
[code]
to app.json file, the problem has been solved.

[2019-09-05 07:09] RishabhKarnad commented on #194
This should no longer happen for freshly created projects with `vue-native-cli@0.1.1`

[2019-09-05 07:09] #194 closed

[2019-09-05 07:10] RishabhKarnad commented on #194
@rowanfuchs The documentation will be updated this week

[2019-09-05 13:40] RishabhKarnad commented on #172
@tmaly1980 `vue-native-scripts` can be used to transpile Vue SFCs, but the React Native code generated is not exactly human readable (it contains many indirections and optimisations), and only really acts as a wrapper around a Vue object, so that  it may run in React Native's runtime.

Also, the underlying ideas of Vue and React are quite different and translating one into the other, in such a way

[2019-09-05 13:40] #172 closed

[2019-09-05 13:47] RishabhKarnad commented on #159
@mahipalsingh7 If you wish to use Vue Native inside a React Native project, it is possible to do so. Follow the instructions given [here](https://github.com/GeekyAnts/vue-native-core/blob/master/converting-react-native-project.md). This will allow you to create new Vue single file components and import React Native components you have created inside them, and allow `.js` and `.vue` files to co-exi

[2019-09-05 13:47] #159 closed

[2019-09-05 13:53] RishabhKarnad commented on #151
Closing this issue due to inactivity.

The problem may have been caused because of an incompatible package version as @kn1cht suggested.

We have ensured from release 0.1.0 onwards that `vue-native-core`, `vue-native-helper`, `vue-native-scripts` and `vue-native-template-compiler` all have the same version and will be released simultaneously.

[2019-09-05 13:53] #151 closed

[2019-09-05 15:01] RishabhKarnad commented on #158
@vienntbna are you using an Expo based project or just React Native based? (`--no-crna`/`--no-expo`)

[2019-09-05 15:09] RishabhKarnad commented on #195
@ThePJMP did you also upgrade `vue-native-helper` and `vue-native-scripts`? The package versions should now always remain the same.

So use
[code]

[2019-09-05 15:10] RishabhKarnad commented on #190
@envisean could you provide a small repo which can reproduces the issue?

[2019-09-05 15:31] RishabhKarnad commented on #188
To summarise, it is possible to use components from React Native component libraries by importing and then declaring them as a child component int the `<script>` part of your `.vue` SFC.

[code]

Components provided by `react-native` itself, like View and Text can be used without the need to import.

However, it is *not* possible to directly use web UI library components, including libraries desig

[2019-09-05 15:31] #188 closed

[2019-09-05 15:42] RishabhKarnad commented on #169
This seems to be happening because AppEntry.js tries to import `../../App`. The default packager configuration specifies `.json` as a valid file extension. For some reason, in web, Expo seems to be looking for App.json and ignores App.vue. I'll need to have a closer look.

[2019-09-09 21:54] ThePJMP commented on #195
@RishabhKarnad yes. In fact, I'm working with 0.1.3 versions and still having this issue

[2019-09-10 14:09] RishabhKarnad commented on #195
@ThePJMP It looks like this will only happen when using `render-prop` or `render-prop-fn`. We're working on it and we'll fix this in the next release (should be out in a few days)

[2019-09-11 22:44] s3bul opened #204 "Aliases for dirs"
Can configure and use aliases? I mean https://webpack.js.org/configuration/resolve/

[2019-09-11 23:04] s3bul commented on #204
Ok, i found this https://github.com/janaagaard75/expo-and-typescript/issues/21#issuecomment-499459446 and working.

[2019-09-12 22:06] YannickSilva opened #205 "Vue native executes App.js instead of App.vue"
Hey i'm having a problem i want to start learning vue native but when i execute he always starts app.js instead of app.vue.How do i solve this problem, i really need help with that

[2019-09-14 13:33] Arwantys opened #206 "null is not an object (evaluating 'RNGestureHandlerModule.default.Direction')"
Hello,

I wanted to transfer my project native view with expo on a project native view without expo and I now have an error, from what I read it should be used Pod, but there is no podfile in the ios files added by native view.

Here is the error https://prnt.sc/p61v3c

Thank !

[2019-09-16 08:44] RishabhKarnad commented on #196
@mouadhkaabachi `MapView` is no longer exported by `expo`. You will need to import it from `react-native-maps`

[2019-09-16 08:46] RishabhKarnad commented on #196
In general, this error
[code]
will be seen if you import a component with the wrong name, or try to import a default export while the package only has a named export or vice versa.

We will work on providing more informative error messages in coming releases.

[2019-09-16 08:46] #196 closed

[2019-09-16 09:21] RishabhKarnad commented on #206
@Arwantys Could you please share some more code? It would be great if you could create a small repo that reproduces the issue and share it here.

[2019-09-16 09:24] RishabhKarnad commented on #205
@YannickSilva it would help if you provided the following info:
- What platform are you using (OS an shell)?
- Did you create the project using `vue native-cli` or did you convert a React Native project?
- Also, are you using Expo as the basis or just bare React Native?

Could you also share the list of files in your project directory (maybe the result of running `ls` at the project root?)

[2019-09-16 09:48] YannickSilva commented on #205
I'm using Windows 10 with the command line, i created the project using vue native-cli and i use Expo as the basis and still he keeps running App.js instead of App.vue i'm so frustated.

[2019-09-16 10:05] RishabhKarnad commented on #204
@s3bul you could use `babel-plugin-module-resolver` for this

https://github.com/tleunen/babel-plugin-module-resolver/blob/master/DOCS.md

It would involve installing the plugin and changing the `.babelrc` in your project

[2019-09-16 10:05] #204 closed

[2019-09-16 10:11] RishabhKarnad commented on #205
Could you share the directory structure that was generated?

[2019-09-16 11:45] RishabhKarnad commented on #132
@gBragamonte Closing this issue because of inactivity. This does not seem to happen with Expo SDK 34. Please reopen it if you are able to reproduce.

[2019-09-16 11:45] #132 closed

[2019-09-16 12:45] RishabhKarnad commented on #174
Hi @tmaly1980. Would using multiple class names with `class` work for you?

You could do something like this:
[code]

[2019-09-16 12:54] RishabhKarnad commented on #155
@vahidalvandi as mentioned by @anoop-ananthan `vue-native-scripts` is a devDependency and should be installed automatically by `vue-native-cli` during project.

This should not be an issue in the latest releases. Please reopen this ticket if it is still an issue.

[2019-09-16 12:54] #155 closed

[2019-09-16 15:30] RishabhKarnad commented on #122
@317482454 this seems to be an issue with your code. The `setTimeout` is causing a race condition.

[2019-09-16 15:30] #122 closed

[2019-09-16 15:32] RishabhKarnad commented on #174
Closing this issue for now. @tmaly1980 please reopen it if you face an issue with this solution, or if you think it does not solve your particular problem

[2019-09-16 15:32] #174 closed

[2019-09-16 17:02] Arwantys commented on #206
@RishabhKarnad Just vue-native init <projectName> --no-expo and Vue Native Router (https://vue-native.io/docs/vue-native-router.html) installed

[2019-09-16 18:51] YannickSilva commented on #205
![ScreenShot_20190916195017](https://user-images.githubusercontent.com/25250749/64984735-4f27c080-d8bb-11e9-9884-ff240a15abfb.png)

[2019-09-16 20:15] s3bul commented on #204
It's only working when i use alias in App.vue, in other files, like `src/Setup.vue` when i import `src/screens/Login` i got error like
`transform[stderr]: Could not resolve "src/screens/Logo" in file src/Setup.vue`

Maybe the problem is docker container, but i write more projects with docker and aliases in webpack, and there isn't any problems.

[2019-09-17 08:35] RishabhKarnad commented on #205
Confirmed that this is an issue on Windows. The App.js file is not being deleted after the App.vue file has been created. This will be fixed with the next release.

[2019-09-17 08:39] RishabhKarnad commented on #206
Have you installed the peer deps required by `vue-native-router`?

[2019-09-17 09:54] Arwantys commented on #206
Yes, it's installed, but not working

[2019-09-17 12:23] alighasemzadeh opened #207 "vue-native without expo"
Hello,
Is it possible to use vue-native without expo?

[2019-09-17 12:53] RishabhKarnad commented on #207
Yes, when creating the project, just use the `--no-expo` option.

Installation is described in detail [here](https://vue-native.io/docs/installation.html)

[2019-09-17 12:53] #207 closed

[2019-09-17 13:12] RishabhKarnad commented on #190
I guess #195 is related to this.

[2019-09-17 14:31] RishabhKarnad commented on #170
@devarashetty @melvinchng The documentation has been updated. Please reopen this ticket if you face an issue even after following the new steps.

[2019-09-17 14:31] #170 closed

[2019-09-17 15:04] #189 closed

[2019-09-17 15:04] #190 closed

[2019-09-17 15:28] RishabhKarnad commented on #195
This issue has been fixed with release 0.1.4

https://github.com/GeekyAnts/vue-native-core/releases/tag/v0.1.4

[2019-09-17 15:28] #195 closed

[2019-09-17 18:29] RishabhKarnad commented on #206
If you are using React Native 0.59, you will need to separately link those dependencies as described here: https://reactnavigation.org/docs/en/getting-started.html#installation

I didn't mention earlier, but you may also need to run
[code]
since you said there is no podfile.

If this has already been done, or if you are using React Native 0.60, please do one of the following to help me understand

[2019-09-17 19:14] RishabhKarnad commented on #205
Closing this issue as a new one has been opened in https://github.com/GeekyAnts/vue-native-cli instead, as it would be more relevant to that repo.

https://github.com/GeekyAnts/vue-native-cli/issues/29

[2019-09-17 19:14] #205 closed

[2019-09-17 19:15] YannickSilva commented on #205
@RishabhKarnad  when is the next release coming ?

[2019-09-17 19:19] RishabhKarnad commented on #205
@YannickSilva The next release of Vue Native CLI should be out within the next two weeks. Until then, please add any comments on the relevant issue in that repo. All updates related to this issue will be posted there.

[2019-09-17 21:49] Arwantys commented on #206
It is resolved, I went directly by the installation of React and not of sight and everything was niquel, thank you!

[2019-09-17 21:50] #206 closed

[2019-09-18 01:12] alighasemzadeh commented on #207
@RishabhKarnad
I need Device APIs, Is it possible?

[2019-09-18 21:03] s3bul commented on #204
Ok, i did some things and its working now

[2019-09-19 06:05] RishabhKarnad commented on #204
@s3bul You could share your solution here as it would help others who might have similar issues.

[2019-09-19 19:27] s3bul commented on #204
I add `extensions` for plugin
[code]
and i changed name for `axios.js` file (i creating there my axios instance), because i got error like "axios file import self" in line `import axios from 'axios'`. Next i created `webpack.config.js` file, where i set only aliases and i import this file in `babel.config.js`.
File `webpack.config.js` is only for phpstorm webpack settings.

[2019-09-20 21:16] s3bul opened #210 "Destroy component after navigating to other"
Why components dont destroy after i going to other? Or I do something wrong?

[2019-09-23 18:59] lucasromanojf commented on #195
Somehow vue-native-scripts is loading vue-native-template-compiler version 0.1.3 as dependency and not 0.1.4, and then the error still occurs here, unfortunately.

[2019-09-23 21:40] ThePJMP commented on #195
You have to upgrade all your vue-native-* dependencies

I can confirm this issue was solved on version 0.1.4

[2019-09-23 21:59] lucasromanojf commented on #195
I did this. Not sure what I am doing wrong.

[2019-09-24 06:53] envisean commented on #210
It shouldn't get destroyed. If you're using the vue-native-router, then it's navigating and should be kept alive.

This is more of a behavior of react-navigation

[2019-09-24 17:25] s3bul commented on #210
So how can I force destroy? Or how I can catch "mount" screen event or something similar? In vue `created` and `mounted` it's important thing.

[2019-09-25 13:50] RishabhKarnad commented on #195
@lucasromanojf try deleting your `yarn.lock` or `package-lock.json` (whichever you are using) and node_modules/ and try reinstalling.

[2019-09-25 14:09] lucasromanojf commented on #195
Coincidentally I had to reinstall my OS, then I cloned the project, deleted the yarn.lock file, ran yarn install and it worked. Not sure if it was cache or the lock file before, but now it is working. Thank you very much!

[2019-09-27 17:08] reynotech opened #211 "Empty preview with RNCamera"
I've followed all the integration with RN > 0.60, I've made a test without vue native and it shown a preview, when it request the permissions it shows the dialog, after that nothing is shown, here is my Vue file:

[code]

and my package.json
[code]

[2019-09-30 06:55] #211 closed

[2019-10-01 04:37] net8floz commented on #210
What's also interesting is that using the .navigate function will cause screens to always call created() but I have yet to have it call destroyed() . Does it sound like I'm misusing the router? If not I would expect some kind of cleanup event to be accessible =D

[2019-10-01 12:57] reinzor opened #212 "expo-barcode-scanner not working"
Hi,

I am trying out the BarCodeScanner from `expo`: https://docs.expo.io/versions/latest/sdk/bar-code-scanner/ but I cannot get it to work with `vue-native`; however, it does work with `react-native`. As I understand from the documentation https://vue-native.io/docs/react-native.html , I should be able to use `react-native` components as `vue-native` components.

I tried the following in `react-n

[2019-10-01 13:09] RishabhKarnad commented on #212
@reinzor Try using `:onBarCodeScanned` instead of `@onBarCodeScanned`.

The `@` prefix only works for native events and not props that handle events internally.

[2019-10-02 01:13] pesaregorg opened #213 "vue-native in react-native-cli drawer navigation not working"
https://github.com/pesaregorg/simple-vue-native
this is my  project
but not working drawer navigation
where is the problem?
..........
i tested tab navigation and it was no problem.

[2019-10-02 18:56] reinzor commented on #212
Tried the following:

[code]
This seems to work perfectly, thanks a lot for your quick reply!

[2019-10-02 18:56] #212 closed

[2019-10-05 12:30] Saganic commented on #169
Any news on this?

[2019-10-06 07:28] RishabhKarnad commented on #213
@pesaregorg It would have been better if this issue was raised in the [Vue Native Router repository](https://github.com/GeekyAnts/vue-native-router/issues)

Your code seems to be working fine. The drawer slides out with the swipe gesture from the left side of the screen. If you need a button in the header, you will have to add that yourself in the template.

[2019-10-06 07:28] #213 closed

[2019-10-06 07:57] RishabhKarnad commented on #158
Closing due to inactivity.

[2019-10-06 07:57] #158 closed

[2019-10-17 19:40] s3bul opened #215 "Question: Use data provider pattern"
**Description of the bug**
I want to use data provider pattern, but i got warnings like
`Warning: Each child in a list should have a unique "key" prop.%s%s See https://fb.me/react-warning-keys for more information.%s` when two components is inside default slot in provider component. Adding key property doesn't fix this. For this I don't use render method in data provider component and it looks lik

[2019-10-17 21:07] francoisp commented on #115
Tried to use vue-i18n with vue-native-core, and I get this warning: [vue-i18n] vue-i18n (undefined) need to use Vue 2.0 or later (Vue: 0.1.4). Then when using $t() I get  this error: [Vue warn]: Property or method "$t" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option.

[2019-10-17 21:08] francoisp opened #216 "trying to use vue-i18n"
Tried to use vue-i18n with vue-native-core, and when attempting use with

[code]
I get this warning: [vue-i18n] vue-i18n (undefined) need to use Vue 2.0 or later (Vue: 0.1.4). Then when using $t() I get this error: [Vue warn]: Property or method "$t" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option.

[2019-10-18 00:56] ChrisKader commented on #210
@net8floz: unmountInactiveRoutes: true

Components are recycled. You aren’t really creating a new one every time. That prop will force you to though.

[2019-10-18 01:02] ChrisKader commented on #210
https://reactnavigation.org/docs/en/navigation-lifecycle.html

[2019-10-18 13:01] RishabhKarnad commented on #216
@francoisp This happens because the version of the `Vue` export from `vue-native-core` is generated from the package version, which at this point would be `0.1.4`

We'll change this version number to the Vue.js version we forked from, in the next release. Since the version was `^2.0.0`, the issue should be fixed then.

[2019-10-18 16:34] francoisp commented on #216
ok awesome! Where would I edit this to test locally?

FWIW I've also come across vuex-i18n, that one works with vue-native-core (also it uses vuex for lazy loading), but the rest of my stuff uses nuxt-i18n and that leverages vue-i18n... I'd like to use the same format for i18n in native and web artifact... At first glance vuex-i18n looks leaner and more flexible, but nuxt-i18n nails it for SSR as

[2019-10-18 16:45] RishabhKarnad commented on #216
You could edit build.js in the vue-native-core node module. There should be
a line similar to

[code]

Line 3863 in the latest release.

We haven't tested the other libraries you mentioned yet, although they
should work fine if they are independent of browser APIs.

On Fri, 18 Oct 2019, 22:04 Francois Payette, <notifications@github.com>
wrote:

[2019-10-18 19:13] francoisp commented on #216
thanks for the quick answer! I tried updating the Vue.version in the build file, but now I get
[code]
vue-i18n seems a bit more integrated; I'm thinking I might just stick to translations in a json format instead of the fancy promise alternative that vue-i18n and nuxt-i18n offer; that way the same json files can be used for vuex-i18n...

[2019-10-26 14:32] boygiandi opened #217 "Question: Please help me upgrade react-native to 0.60 or higher"
Some library now require react-native > 0.59, so I want to upgrade it.
I created a new project to test
[code]
But build failed, even I remove node_modules and install it again.
Am I doing upgrade correctly ?
Thank you

[2019-10-31 11:46] Hol7 commented on #48
this is what i'm facing , i do need some Help

(node:9023) UnhandledPromiseRejectionWarning: Error: Cannot find module 'vue-native-scripts'
Require stack:
- /home/talent/demo/vueTransformerPlugin.js
- /home/talent/demo/node_modules/metro/src/JSTransformer/worker.js
- /home/talent/demo/node_modules/metro/src/DeltaBundler/Transformer/getTransformCacheKey.js
- /home/talent/demo/node_modules/metro/src

[2019-11-06 09:33] sumukhah commented on #194
try downloading without yarn

[2019-11-06 11:30] obitux commented on #188
What about the dot notation in react native ui libs as Paper ? Can't figure out how to import and use those components ...

[2019-11-06 12:09] RishabhKarnad commented on #188
@obitux this should work:

[code]

[2019-11-10 22:08] niklashaug commented on #117
I didn't have to change anything since the packagerOpts were like that already.
`"packagerOpts": {
      "config": "metro.config.js",
      "sourceExts": [ "js", "json", "ts", "tsx", "jsx", "vue"],
    }`
My problem is that it only displays the App.js contents instead of the App.vue one's.
Tried a lot of things but unfortunately didn't get it working though.

[2019-11-10 22:18] niklashaug commented on #117
Update: Got it working by moving out the App.js file, doing npm install and reloading Expo.

[2019-11-14 15:29] Riant opened #219 "Question: Can I set the default components which import from react-native or react?"
I got warnings like below, it looks like all components from react-native had been imported by default, so can I set that as empty or just `view` and `text`, and I will import the others when I need them.

Thanks.

![2019-11-14_231809](https://user-images.githubusercontent.com/668285/68870862-89380600-0736-11ea-9ace-fc9d32923512.png)

[2019-11-14 15:59] RishabhKarnad commented on #217
Hi @boygiandi. What build error do you encounter? Also, are you able to build for Android?

[2019-11-14 16:06] RishabhKarnad commented on #219
@Riant for now, all React Native components are imported and registered by `vue-native-core`.

One thing we could do is provide a utility which will do this only if required by the user, in a future release. But for now, there is no way to prevent all components from being imported.

[2019-11-28 05:06] jonnycraze opened #220 "Flat-List Infinite Loop Warning"
**Description of the bug**
When using the flat list with an array, regardless of whether i use the render-prop-fn or use the renderItem prop directly I receive a warning about a potential infinite loop. I've reverted as far back as the example in the website documentation and continue to receive the error.

The following code is where I'm getting the error:
[code]

**To Reproduce**
Steps to reprod

[2019-11-30 20:52] knot22 opened #221 "why does error about global installation of Expo CLI occur for vue-native init command?"
When the `vue-native init my-vue-app`  command is executed while in a location in the home directory of the guest the response is the following:

 However, Expo CLI is installed globally:
https://imgur.com/a/HS0b3j7

Environment details:
Virtual Box 6.0
guest OS: Ubuntu 18.04
host OS: Windows 10
package versions on guest -
nodeJS 8.10.0
npm 3.5.2
expo-cli 3.9.1
vue-native-cli 0.1.1

[2019-11-30 22:07] yanbert opened #222 "Question: vue-native with vuetify"
Hi,
i use vuetify for my project and i want to build native app using vue native. i look for document to do that could you help me how can i setup vue native and vuetify together

thank you

[2019-12-01 08:04] RishabhKarnad commented on #222
Hi @yanbert. Vuetify is a web UI framework and sadly, cannot be used with Vue Native.

You can use any UI framework targeted at React Native, when writing apps with Vue Native. Since you are using Material design, I could recommend:

- [React Native Paper](https://callstack.github.io/react-native-paper/)
- [React Native Material UI](https://github.com/xotahal/react-native-material-ui)
- [React Nat

[2019-12-01 08:04] #222 closed

[2019-12-01 08:18] RishabhKarnad commented on #220
Edited previous comment for better code formatting.

[2019-12-01 08:50] RishabhKarnad commented on #211
@reynotech if this issue was solved, it would be great if you could share the solution here in case other people face the same problem :)

[2019-12-01 08:51] RishabhKarnad commented on #207
@alighasemzadeh apologies that this reply took so long. We'll update the docs soon to show examples of device APIs without Expo.

[2019-12-01 08:55] RishabhKarnad commented on #220
@jonnycraze a more complete code example could help here, but it seems the problem might be caused by the event handlers you have provided, like `:on-press`.

Vue Native has a limitation that all handlers provided need to be callbacks. This means that the shorthand notation of just the function call used frequently in Vue.js doesn't work with Vue Native.

Try replacing them with something like `:o

[2019-12-01 08:59] RishabhKarnad commented on #215
@s3bul apologies that this reply took so long.

Since the provider pattern uses custom render methods, this approach won't work with Vue Native at the moment.

I'll leave this issue open to keep this in mind for future work on the framework.

[2019-12-02 02:18] jonnycraze commented on #220
Thanks so much, this did resolve the problem, thank you, and thank you for updating the docs to reflect it.

[2019-12-02 02:18] #220 closed

[2019-12-17 23:53] VanLaerAshley commented on #118
@icarter09 No, the workaround doesn't work in my case. The app keeps crashing with error code: "Maximum call stack size exceeded".

[2019-12-18 15:23] kurtaschliman commented on #118
This seems to also occur in an Expo app in Production mode when using `v-if` in nested statements. Here's my template:

[code]

When pressing the record button, the app crashes with **RangeError: Maximum call stack size exceeded**.

package.json:
[code]

[2019-12-21 11:38] RishabhKarnad commented on #210
@s3bul in case you wish to do this with a drawer navigator, you can use `unmountInactiveRoutes` in the navigator's config:

https://reactnavigation.org/docs/en/drawer-navigator.html#drawernavigatorconfig

[2019-12-21 11:38] #210 closed

[2019-12-21 11:44] RishabhKarnad commented on #217
Closing issue due to inactivity.

For instructions on upgrading to newer versions of Expo, please refer to:
https://docs.expo.io/versions/latest/workflow/upgrading-expo-sdk-walkthrough/

For instructions on upgrading to newer versions of React Native (bare workflow), please refer to:
https://facebook.github.io/react-native/docs/upgrading.html#react-native-projects

Reach out to us on [Slack](http:

[2019-12-21 11:44] #217 closed

[2019-12-21 11:52] RishabhKarnad commented on #90
[Vue CLI plugin for Vue Native](https://github.com/RishabhKarnad/vue-cli-plugin-vue-native), is a work in progress, and at the moment, just a proof of concept to generate Vue Native projects (it doesn't integrate any other CLI services).

If it works well, we may consider using this as an alternative or as a successor to [Vue Native CLI](https://github.com/GeekyAnts/vue-native-cli). Please feel fr

[2019-12-21 11:52] #90 closed

[2019-12-26 21:53] emaadali commented on #118
This issue seems to go away when binding the Animated `_value` directly. For example, lets say you have this component:
[code]

To resolve the "Maximum call stack size exceeded" error, you would change `:style="{opacity: animatedOpacityValue}"` to `:style="{opacity: animatedOpacityValue._value}"`:

[code]

I don't know if this has any impact on performance.

[2019-12-30 21:36] archagy commented on #169
Same issue, can't run npm run web

[2020-01-06 12:37] adarshsosale opened #226 "Vue native to Vue PWA conversion"
I'm looking to write a VueJS PWA with a NodeJS backend. I will have to convert the app into a native iOS one afterwards. Are there any tools to automate the conversion process? How do I go about it?

Thank you!

[2020-01-11 17:08] ashbeats opened #227 "Question: Bridge for native android / objective-c api's in vue-native"
Hi,

I've been trying to figure out how to access native android / objective-c api's in vue-native.

Could someone point me to the correct place in the docs.

Thanks

[2020-01-13 03:28] Arjorie opened #228 "I am having difficulties regarding to 'refs' for accessing methods of a component. Please help!"
I am aware of using `ref` and then accessing it using `$refs` but I don't know where to find documentation on how to use and access properties and methods of the component accessed by `refs`.

For example I want to access this and to change the text color and text
`<text ref='err' :style="{fontSize:20, textAlign:'center', color:'red'}">{{errorMsg}}</text>`

Then later on by using `$refs.err` I ass

[2020-01-13 05:33] Arjorie commented on #228
After playing a bit, I solved my problem by simply passing a function to my component that executes on mounted of the component then reference the component object as result by that function.

Example:
`<template>
</template>`

[2020-01-13 05:33] #228 closed

[2020-01-19 00:17] Arjorie commented on #118
`Animated.View` is not suported with vue native, Ive encountered the same issue by using dot properties but since using vue dot properties should be translated as `animated:view`

Anyways, I am encountering same issue but with my own button component. In dev, its working fine, but in prod, it says `Maximum call stack exceeded` as well.

Since Im using `Button` keyword which is already exist in vue

[2020-01-21 06:27] cakpep commented on #169
any news?

[2020-01-21 07:38] maxencedouet opened #229 "Cannot blur my images"
I would like to blur my image so use the blurRadius available in the image react component, I type it
`<image blurRadius="{3}"/>`
it work well on ios but raises an error in android (an error in the terminal 3 should be an integer).
I tried serveral possibilities such as `:blurRadius="{3}"` but didn't find any way around
Any idea of how to solves this ?

[2020-01-25 19:15] maxencedouet opened #230 "Question:"
I don't manage to make apple-authentication working (compulsory to publish on apple store). Cf: https://docs.expo.io/versions/latest/sdk/apple-authentication/

Do you know any workaround ?

Thank you very much for your help

Kind regards,

Maxence

[2020-01-29 18:30] steskalja opened #231 "Windows 10 support"
Are there any plans for Windows 10 support like react native? Windows 10 has over 1 billion users and growing

[2020-01-30 03:30] lavy1004 opened #232 "Question: hi GeekyAnts i need your help"
The best place to find answers is the [documentation](https://www.vue-native.io/docs/installation.html)  📖

If you still haven't found what you are looking for or need more help, feel free to reach out on [Vue Native Slack](http://slack.vue-native.io/)

now i make the vue native app

but how to use chart.js vue-native

i remember run the chart.js in vue.js port 8080... but  Vue-native.. i dont kno

[2020-01-30 03:48] jonnycraze commented on #78
What was the solution for doing this?

[2020-02-02 04:42] jonnycraze opened #233 "Question: using Netinfo with expo"
I'm looking at using Netinfo from Expo to check if the users device has a connection.

I followed the documentation here and things failed badly:
https://docs.expo.io/versions/latest/sdk/netinfo/

Has anyone successfully integrated Netinfo from Expo into a Vue Native app?

Some current stats in my project:
Expo version: 35
React: 16.8.3
react-native: https://github.com/expo/react-native/archive/sd

[2020-02-02 04:47] jonnycraze commented on #233
I know that i can use react natives Netinfo but that is deprecated and will soon go away.

[2020-02-04 23:08] barbierp35 commented on #177
I have the same issue. Have you find a solution please ?

[2020-02-17 11:06] SunPuzzle opened #234 "flat-list render-prop-fn, property or method "args" is not defined"
### flat-list, render-prop-fn not work with conditional rendering

Get errors in console:
[code]
also
[code]

[code]

- Expo: yes
- OS: macOS 10.15.2
- Device: Emulator Nexus_5X_API_26_x86
- run with "npm run android"
[code]

[2020-02-17 13:35] loverg-c opened #235 "Can't resolve '../../App' in node_modules/expo/AppEntry.js"
**Development platform:**
 - OS: Ubuntu 19.04
 - Shell: zsh 5.5.1 (x86_64-ubuntu-linux-gnu)
-  **yarn** 1.21.1
-  **vue-native** 0.1.1
- **expo** 3.13.1
 - Device: web browser (firefox 68.0.1 and chromium 80.0.3987.100)

**Repository to reproduce**
https://github.com/loverg-c/sample-vue-native

**Description of the bug**
I tried to initialize a completely new vue-native project with expo with the

[2020-02-18 20:37] SunPuzzle commented on #234
possible solution, make component SomeList.vue
[code]
[code]

[2020-02-20 22:57] MathyasGiudici commented on #196
In _App.vue_, instead of writing:
` import {MapView} from "expo";`
use:
` import MapView from "react-native-maps";`

To include `react-native-maps` is your _app.json_, you can use:
`yarn add react-native-maps`

[2020-02-24 05:55] RishabhKarnad commented on #232
chart.js is not compatible with Vue Native or React Native. Please use [react-native-chart-kit](https://www.npmjs.com/package/react-native-chart-kit) or [react-native-svg-charts](https://www.npmjs.com/package/react-native-svg-charts)

[2020-02-24 05:55] #232 closed

[2020-02-24 05:56] RishabhKarnad commented on #231
You should be able to run Vue Native using WSL

[2020-02-24 05:56] #231 closed

[2020-02-24 05:57] RishabhKarnad commented on #230
What issues are you facing?

[2020-02-24 06:00] RishabhKarnad commented on #226
Vue Native does not provide any ways to automate conversion from PWAs/responsive web apps into native apps, and as of now there are no plans to support this. Closing this issue for this reason. Please feel free to discuss this on Vue Native Slack.

[2020-02-24 06:00] #226 closed

[2020-02-24 06:03] RishabhKarnad commented on #227
Hey @ashbeats, here are the React Native docs resources that talk about integrating native modules

iOS: https://facebook.github.io/react-native/docs/native-modules-ios
Android: https://facebook.github.io/react-native/docs/native-modules-android

Since Vue Native is based on React Native, you'll need to follow the same principles to bridge native modules with Vue Native

[2020-02-24 06:03] #227 closed

[2020-02-24 06:06] RishabhKarnad commented on #229
Hey @maxencedouet have you tried `:blurRadius="3"`? That would be the correct syntax.

[2020-02-24 06:07] RishabhKarnad commented on #233
What issues did you face @jonnycraze?

[2020-02-24 06:09] RishabhKarnad commented on #235
Hey @loverg-c this issue was fixed some time back. Have you tried updating `vue-native-cli`?

[code]

[2020-02-24 06:29] RishabhKarnad commented on #234
Hey @SunPuzzle, this might be an issue with the usage, but we'll look into it

[2020-02-24 11:24] loverg-c commented on #235
Hello @RishabhKarnad ,

Yes I have the latest vue-native cli (v0.1.1) (I tried to reinstall it for trying but still the same problem), and yes it has generated the options in the app.json (you can see it on this preivous link: https://github.com/loverg-c/sample-vue-native/blob/master/app.json from lines 29 to 38)

[2020-02-24 12:28] Skyhark-Projects commented on #133
Any updates ? We need to rebuild everything on each change, so it's slows down dramatically development time

[2020-02-24 18:49] maxencedouet commented on #229
Yes, you are right, thank you very much !!

[2020-02-24 18:49] #229 closed

[2020-02-29 08:36] Recursif opened #236 "Vue Native Scripts API doesn't cover reactVueTemplateParser anymore for testing components"
I want to setup the test environment on our vue-native mobile application but I face some issues.

In the documentation of vue-native, in the testing section, it's written "Parse the data using vue-native-scripts‘ reactVueTemplateParser function to extract elements from the vue code." (Cf: [https://vue-native.io/docs/testing.html]).

But when I look inside the vue-native-scripts there only two fun

[2020-03-06 12:48] mi-constantin commented on #169
any news ?

[2020-03-06 23:11] qusenazlas opened #237 "Question: How I can change button style"
.btn{
        width: 265px;
        height: 45px;
        background-color: #0D0A0A;
        color: #FCFCFC;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 45px
    }

use this style but button still not change.
can someone help